<div class="page-main container">
    <h1 class="h2">Доставка</h1>
    <div class="thumb padding" style="margin-top: 0px">

        <p>
            <b>А теперь — подробнее о том, как именно мы доставляем для вас товар!</b>
            Прежде всего, у нас имеется возможность доставки товара — в удобное время и нужно вам место, и всего за <b>300 рублей по Москве</b>. 
            Однако если вы живёте <b>за пределами МКАД</b>, в Подмосковье — то здесь уже другой тариф, <b>50 рублей за каждый километр</b>.
        </p>

        С заботой о своих покупателях, 
        Проект SLPrint
    </div>
</div>