<div class="container">
    <h1 class="h2">Пользовательское соглашение</h1>
    <div class="thumb padding" style="margin-top: 0px">


<p>Соглашение о пользовании услугами.
Правила использования Сервиса онлайн-печати и дистрибьюции print.slto.ru</p>

<p><b>1.</b> Общие положения</p>

<p><b>1.1.</b> Сайт SLPrint (print.slto.ru) – это Сервис онлайн-печати print.slto.ru (далее - Сервис), позволяющий Пользователям оформить заказ на выполнение работ по нанесению Исполнителем изображения на основу и уже готовую продукцию Сервиса, а также предоставляющий возможность создать, разместить, опубликовать на Сайте созданные Пользователем материалы, в том числе, но не ограничиваясь, макеты и изображения.</p>

<p><b>1.2.</b> Администрация Сайта предоставляет Вам доступ к использованию Сайта SLPrint и его функционала на условиях, являющихся предметом настоящих Правил пользования Сайтом SLPrint. В этой связи Вам необходимо внимательно ознакомиться с условиями настоящих Правил. Оформление заказа является безусловным согласием на принятие условий настоящих правил.</p>

<p><b>1.3.</b> Настоящие Правила пользования Сервисом (далее – Правила) разработаны Администрацией Сайта и определяют условия использования и развития Сайта, а также права и обязанности его Пользователей и Администрации.</p>

<p><b>1.4.</b> Настоящие Правила являются юридически обязательным соглашением между Пользователем и Администрацией Сайта, предметом которого является предоставление Администрацией Сайта Пользователю доступа к использованию Сайта и его функционала.</p>

<p><b>1.5.</b> Пользователь обязан полностью ознакомиться с настоящими Правилами до момента регистрации на Сайте/до момента оформления Заказа. Регистрация/ оформление Заказа Пользователем на Сайте означает полное и безоговорочное принятие Пользователем настоящих Правил в соответствии со ст. 438 Гражданского кодекса Российской Федерации.</p>

<p><b>1.6.</b> Настоящие Правила могут быть изменены и/или дополнены Администрацией Сайта в одностороннем порядке без какого-либо специального уведомления. Настоящие Правила являются открытым и общедоступным документом. Действующая редакция Правил располагается в сети Интернет на Сайте SLPrint (print.slto.ru/eula). Администрация Сайта рекомендует Пользователям регулярно проверять условия настоящих Правил на предмет их изменения и/или дополнения. Продолжение использования Сайта Пользователем после внесения изменений и/или дополнений в настоящие Правила означает принятие и согласие Пользователя с такими изменениями и/или дополнениями.</p>

<p><b>2.</b> Термины и определения</p>

<p><b>2.1.</b> В настоящих Правилах, если контекст не требует иного, термины имеют следующие значения:</p>

<p>Пользователь — физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих Правил, принявшее условия настоящих Правил и обладающее соответствующими полномочиями (ранее и далее — Пользователь).</p>

<p>Заказчик — физическое лицо, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих Правил, и обладающее соответствующими полномочиями, принявшее условия настоящих Правил и оформившее заказ.</p>

<p>Исполнитель — Администрация сайта SLPrint, а также работающие с ним Поставщики, предоставляющие услуги нанесения на основу</p>

<p>Сервис онлайн-печати print.slto.ru (далее по тексту — Сервис, Сайт) — сайт, расположенный в сети интернет по адресу https://www.print.slto.ru/, с использованием которого Исполнитель предлагает Заказчику, Пользователю, иному полностью дееспособному физическому лицу, оформить заказ на выполнение работ по нанесению изображения на основу и покупку готовой продукции. Под сервисом онлайн-печати SLPrint в рамках настоящего договора также понимаются также сайты партнеров, заказы с которых попадают на исполнение в SLPrint.</p>

<p>Заказ — оформленный Заказчиком запрос на выполнение Исполнителем конкретной работы по нанесению изображения на основу. Заказ может быть оформлен Заказчиком с использованием Сервиса, а также путем обращения Клиента в колл-центр Исполнителя.</p>

<p>Основа — футболки, толстовки, майки и другие объекты, на которые Исполнитель наносит изображение, в рамках исполнения настоящего Договора, в соответствии с заказом. Основа может быть предоставлена самим Заказчиком, либо предоставлена Заказчику Исполнителем (Материал Исполнителя).</p>

<p>Результат работ — основа (либо предоставленная Заказчиком, либо Материал Исполнителя) содержащая нанесенное Исполнителем изображение в рамках выполнения обязательств по настоящим Правилам в соответствии с заказом Заказчика.</p>

<p><b>3.</b> Статус Сайта SLPrint</p>

<p><b>3.1.</b> Права на Сайт в целом и на использование сетевого адреса (доменного имени) print.slto.ru принадлежит Администрации Сайта на основании договора аренды. Администрация Сайта предоставляет доступ к Сайту всем заинтересованным лицам в соответствии с настоящими Правилами и действующим законодательством Российской Федерации.</p>

<p><b>4.</b> Администрация Сайта SLPrint.</p>

<p><b>4.1.</b> Обращения, предложения и претензии физических и юридических лиц к Администрации Сайта в связи с настоящими Правилами и всеми вопросами по функционированию Сайта, нарушениями прав и интересов третьих лиц при его использовании, а также для запросов уполномоченных законодательством Российской Федерации лиц могут быть направлены на на электронный адрес print@slto.ru.</p>

<p><b>4.2.</b> В отношении функционирования и развития Сайта Администрация руководствуется законодательством Российской Федерации, настоящими Правилами и иными специальными документами, которые разработаны или могут быть разработаны и приняты Администрацией Сайта в целях регламентации предоставления Пользователям доступа к отдельному функционалу Сайта.</p>

<p><b>4.3.</b> Никакие положения настоящих Правил не предоставляют Пользователю право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта. Право на использование фирменного наименования, товарных знаков, доменных имен и иных отличительных знаков Администрации Сайта может быть предоставлено исключительно по письменному соглашению с Администрацией Сайта.</p>

<p><b>4.4.</b> Администрация Сайта имеет абсолютное право использовать созданные Пользователем в Конструкторе Сайта Макеты и изображения для коммерческих целей.</p>

<p><b>5.</b> Регистрация на Сайте SLPrint и статус Пользователя</p>

<p><b>5.1.</b> Регистрация Пользователя на Сайте является бесплатной, добровольной и производится по адресу в сети Интернет: print.slto.ru.</p>

<p><b>5.2.</b> Пользователем Сайта является физическое лицо, зарегистрированное на Сайте в соответствии с установленным настоящими Правилами порядком, достигшее возраста, допустимого в соответствии с законодательством Российской Федерации для акцепта настоящих Правил, обладающее соответствующими полномочиями и принявшее условия настоящих Правил и/или оформившее заказ.</p>

<p><b>5.3.</b> При регистрации либо оформлении Заказа на Сайте Пользователь обязан предоставить Администрации Сайта необходимую достоверную и актуальную информацию для формирования персональной страницы Пользователя, включая уникальные для каждого Пользователя логин (адрес электронной почты) и пароль доступа к Сайту, а также фамилию и имя. Регистрационная форма/форма Заказа Сайта может запрашивать у Пользователя дополнительную информацию.</p>

<p><b>5.4.</b> Пользователь несет ответственность за достоверность, актуальность, полноту и соответствие законодательству Российской Федерации предоставленной информации и ее чистоту от претензий третьих лиц.</p>

<p>Настоящим Пользователь дает своё добровольное согласие на информирование обо всех действиях Сайта, связанных с выполнением работ, в том числе о статусе выполнения заказа, а также об иных событиях любого характера, относящихся к сервисам Сайта.</p>

<p>Согласие на получение рассылки:</p>

<p>Подписываясь и email-рассылку SLPrintu или третьих лиц, уполномоченных на рассылку от имени SLPrint, я соглашаюсь получать информационную рассылку на электронный адрес, указанный мной при подписке через сервис подписки информационной рассылки на сайте print.slto.ru в соответствии с Федеральным законом «О связи» от 07.07.2003 г. № 126-ФЗ.</p>

<p>Я проинформирован о том, что в случае, если у меня возникнет желание отказаться от информационной рассылки SLPrint, мне будет необходимо самостоятельно перейти по ссылке «отписаться», указанной внизу в тексте отправляемых сайтом сообщений с электронного адреса Сайта print@slto.ru или же сообщить о несогласии получения информационных рассылок по адресам, указанным в разделе «Контакты» данных Правил.</p>

<p>Я также даю разрешение Сайту или третьим лицам, уполномоченным на рассылку от имени Сайта, собирать, хранить и обрабатывать все переданные мною в адрес Сайта персональные данные (в том числе фамилию, имя, отчество и адрес электронной почты) с целью информирования о новостях и других событиях Сайта.</p>

<p><b>5.5.</b> Пользователь соглашается с настоящими Правилами и принимает на себя указанные в них права и обязанности, связанные с использованием и функционированием Сайта.</p>

<p><b>5.6.</b> Выбранные Пользователем логин и пароль являются необходимой и достаточной информацией для доступа Пользователя на Сайт. Пользователь не имеет права передавать свои логин и пароль третьим лицам, несет полную ответственность за их сохранность, самостоятельно выбирая способ их хранения.</p>

<p><b>5.7.</b> Если Пользователем не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Пользователем. В случае несанкционированного доступа к логину и паролю и/или персональной странице Пользователя, или распространения логина и пароля Пользователь обязан незамедлительно сообщить об этом Администрации Сайта в установленном порядке.</p>

<p><b>5.8.</b> После регистрации Пользователь получает право самостоятельно в личных некоммерческих целях создавать, использовать, размещать, опубликовывать материалы (в том числе макеты и изображения), писать отзывы и использовать иной функционал Сайта.</p>

<p><b>5.9.</b> Пользователь вправе создавать, редактировать, размещать, публиковать материалы для оформления Заказа в соответствии с настоящей офертой, иных личных некоммерческих целей и/или/либо возможного обсуждения их с другими Пользователями в отзывах. При этом Пользователи обязаны соблюдать действующее российское и международное законодательство, а также размещать только такую информацию, которая соответствует настоящим Правилам, а также признанным этическим нормам и принципам морали, в том числе относящимся к таковым в том числе по мнению Администрации Сайта.</p>

<p><b>5.10.</b> Пользователь подтверждает, что действует на законных основаниях, обладает всеми необходимыми правами и не нарушает своими действиями законные права и интересы третьих лиц и действующее законодательство Российской Федерации, в том числе законодательство о правах на результаты интеллектуальной деятельности и средства индивидуализации.</p>

<p><b>5.11.</b> Пользователь самостоятельно администрирует создаваемые и размещаемые, публикуемые им материалы (в том числе макеты и изображения), обязан самостоятельно следить и пресекать не соответствующее Правилам размещение информации, и при необходимости самостоятельно удалять несоответствующие настоящим Правилам материалы, используя функциональные возможности Сайта.</p>

<p><b>5.12.</b> Администрация Сайта вправе самостоятельно по своему усмотрению формировать и размещать список и рейтинг в автоматическом режиме с использованием функциональных возможностей Сайта, исходя из их информационной ценности для Пользователей и иных критериев.</p>

<p><b>5.13.</b> Пользователь несет полную ответственность за свои действия, связанные с созданием и размещением, публикацией материалов (в том числе макетов и изображений), в соответствии с действующим законодательством Российской Федерации, международными правовыми актами и настоящими Правилами. В случае создания, размещения, публикации материалов (в том числе макетов, изображений), которые противоречат Правилам Сайта или действующему законодательству Российской Федерации, Пользователь самостоятельно обязан принять меры по удалению соответствующих материалов с использованием функциональных возможностей Сайта.</p>

<p><b>5.14.</b> В случае обнаружения факта нарушения Пользователем законных прав и интересов третьих лиц, действующего законодательства Российской Федерации, а также положений настоящих Правил Администрация Сайта вправе, но не обязана, по своему выбору, принимать следующие меры:</p>

<p><li>удалить материалы (в том числе макеты и изображения) и иную информацию Пользователя;
удалить доступ Пользователя на Сайт;</li><br>
<li>временно заблокировать доступ Пользователя на Сайт.</li></p>

<p><b>6.</b> Обязанности Пользователя Сайта SLPrint</p>

<p><b>6.1.</b> При использовании Сайта Пользователь обязан:</p>

<p><b>6.1.1.</b> соблюдать положения действующего законодательства Российской Федерации, настоящих Правил и иных документов Администрации Сайта;</p>

<p><b>6.1.2.</b> предоставлять при регистрации/оформлении Заказа достоверные, полные и актуальные данные, следить за их актуализацией;</p>

<p><b>6.1.3.</b> информировать Администрацию Сайта о несанкционированном доступе к персональной странице и/или о несанкционированном доступе и/или использовании пароля и логина Пользователя;</p>

<p><b>6.1.4.</b> не предоставлять доступ третьим лицам к собственным логину/паролю;</p>

<p><b>6.1.5.</b> не размещать материалы (в том числе макеты и изображения), которые могут нарушать права и интересы других лиц;</p>

<p><b>6.1.6.</b> перед размещением информации и объектов (включая, но не ограничиваясь, изображениями других лиц, чужими текстами различного содержания, фотографиями, изображениями) предварительно оценивать законность их размещения;</p>

<p><b>6.1.7.</b> осуществлять резервное копирование важной для Пользователя, созданной/размещенной им информации.</p>

<p><b>6.2.</b> В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе по созданию, использованию, размещению материалов, в том числе, но не ограничиваясь, макетов и изображений (ранее и далее — материал, материалы), Администрация Сайта рекомендует воздержаться от осуществления последних.</p>

<p><b>6.3.</b> Пользователю при использовании Сайта запрещается:</p>

<p><b>6.3.1.</b> регистрироваться в качестве Пользователя от имени или вместо другого лица («фальшивый аккаунт»). При этом, возможна регистрация от имени и поручению другого физического лица при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством Российской Федерации;</p>

<p><b>6.3.2.</b> вводить Администрацию Сайта или Пользователей в заблуждение относительно своей личности, используя логин и пароль другого зарегистрированного Пользователя;</p>

<p><b>6.3.3.</b> загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать любую информацию, которая:</p>

<p>(а) содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию или нарушает неприкосновенность частной жизни третьих лиц;</p>

<p>(б) нарушает права несовершеннолетних лиц;</p>

<p>(в) является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;</p>

<p>(г) содержит сцены бесчеловечного обращения с животными;</p>

<p>(д) содержит описание средств и способов суицида, любое подстрекательство к его совершению;</p>

<p>(е) пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства, гомосексуализм;</p>

<p>(ж) содержит экстремистские материалы;</p>

<p>(з) пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;</p>

<p>(и) содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;</p>

<p>(к) содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;</p>

<p>(л) носит мошеннический характер;</p>

<p>(м) а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства Российской Федерации.</p>

<p><b>6.3.4.</b> использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта;</p>

<p><b>6.3.5.</b> загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;</p>

<p><b>6.3.6.</b> любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю третьих лиц;</p>

<p><b>6.3.7.</b> осуществлять незаконные сбор и обработку персональных данных третьих лиц;</p>

<p><b>6.3.8.</b> осуществлять использование Сайта иным способом, кроме как через интерфейс, предоставленный Администрацией Сайта, за исключением случаев, когда такие действия были прямо разрешены Пользователю в соответствии с отдельным соглашением с Администрацией;</p>

<p><b>6.3.9.</b> размещать любую другую информацию, которая, по личному мнению Администрации, является нежелательной, не соответствует целям создания Сайта или по другим причинам является нежелательной для размещения на Сайте;</p>

<p><b>6.3.10.</b> Пользователь самостоятельно несет личную полную ответственность за любую информацию, которую создает, изменяет, размещает, публикует на Сайте, а также за любые взаимодействия с третьими лицами, осуществляемые на свой риск.</p>

<p><b>6.3.11.</b> В случае несогласия Пользователя с настоящими Правилами или их обновлениями, Пользователь обязан отказаться от его использования, проинформировав об этом Администрацию Сайта в установленном порядке.</p>

<p><b>7.</b> Функционирование Сайта SLPrint и ответственность при его использовании</p>

<p><b>7.1.</b> За неисполнение или ненадлежащее исполнение условий настоящего Договора Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.</p>

<p><b>7.2.</b> Исполнитель не несет ответственности за невозможность доступа Заказчика к Сервису по каким-либо техническим причинам, включая нарушение работы линий связи, неисправность оборудования и т.п. Сайт и предоставляемые сервисы могут временно частично или полностью недоступны по причине проведения профилактических или иных работ или по любым другим причинам технического характера.</p>

<p><b>7.3.</b> Исполнитель не несет ответственности за предоставленный Заказчиком некачественный товар.</p>

<p><b>7.4.</b> В случае использования функционала Сервиса, позволяющего самостоятельно разместить изображение на основе, Заказчик несет полную ответственность за нарушение (при его наличии) прав правообладателей используемых им изображений. Заказчик подтверждает, что Исполнитель не знал, не мог и не должен был знать, что Заказчик нарушает исключительные права третьих лиц на результаты интеллектуальной деятельности, средства индивидуализации товаров и услуг.</p>

<p><b>7.5.</b> Любая из Сторон освобождается от ответственности за полное или частичное неисполнение своих обязательств по настоящему Договору, если это неисполнение было вызвано обстоятельствами непреодолимой силы: забастовки, наводнения, пожары, землетрясения и иные стихийные бедствия, войны, военные действия, действия российских или иностранных государственных органов, а также любые иные обстоятельства, выходящие за пределы разумного контроля любой из Сторон.</p>

<p><b>8.</b> Заключительные положения</p>

<p><b>8.1.</b> Все споры, связанные с неисполнением, или ненадлежащим исполнением своих обязательств по настоящему договору стороны будут стараться решить в ходе переговоров, а также путем направления письменных претензий. Исполнитель рассматривает обращение (претензию) Заказчика в течение 10 (десяти) рабочих дней с момента получения. В претензии Заказчику необходимо указать желаемый им способ получения ответа, при отсутствии такого указания, Исполнитель вправе самостоятельно определить способ ответа, в том числе использовать устный ответ.</p>

<p><b>8.2.</b> В случае противоречия отдельных положений настоящего Договора нормам действующего законодательства, применяются нормы действующего законодательства. Недействительность отдельных положений не влечет за собой недействительность Договора в целом.</p>

<p><b>8.3.</b> Настоящие Правила действуют до полного исполнения Сторонами своих обязательств по ним.</p>

<p><b>9.</b> Контакты</p>

<p>
    e-mail: print@slto.ru<br>
    Номер телефона: +7 (495) 005-72-48
</p>




    </div>
</div>