button.md-icon:not(.not-button) {
    width: 40px;
    min-height: 36px;
    line-height: 36px;
}

.table{
	width: 100%;
    margin-top: 15px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    position: relative;
}
.table thead th{
	padding: 5px;
    text-align: left;
}
.table thead th i{
    margin-left: 10px;
    position: relative;
} 
.table thead th i.fa-sort-up{
    bottom: -3px;
}
.table thead th i.fa-sort-down{
    top: -3px;
}
.table tr td{
    padding: 5px;
}

.order-products{

}
.order-products tbody tr td{
    border-bottom: 6px solid #f4f4f4;
}
.order-products tbody tr:last-child td{
    border-bottom: none;
}

.admin-category-list{
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 10px;
}
.thumb.admin-category-tile{
	width: 25%;
    flex-direction: column;
}
.thumb.admin-category-tile .thumb-cover{
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}
.thumb.admin-category-tile .thumb-cover img{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.thumb.admin-category-tile .thumb-cover .no-cover{
    top: 50%;
    left: 50%;
    color: #eee;
    font-size: 72px;
    position: absolute;
    transform: translate(-50%, -50%);
}
.thumb.admin-category-tile .admin-category-{
    max-width: 80%;
    margin: 0px auto;
}
textarea{
    width:100%;
    max-width:100%;
}