<div class="popup_bg"></div>
<div class="popup block" data-id="cloth">
    <div class="popup_header_holder">
        <div class="popup_header module_title">О тканях <button class="md-icon close" onclick="popup.hide('cloth');">close</button></div>
    </div>
    <div class="popup_content module_content">
        <p>Тут будет информация о лучших в мире тканях</p>
    </div>
</div>