.doublecard_body .productCard__buyBlock {
    background: #fff;
}
.doublecard_body .productCard__premium {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 16px;
    padding: 8px;
    text-align: center;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f7f7f7;
    -webkit-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 2px 0 0 rgba(0, 0, 0, .25);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .25);
}
.doublecard_sub .productCard__premium {
    margin: 0;
    padding: 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.doublecard_body .productCard__premium >input {
    display: none;
}
.doublecard_body .productCard__premium >label {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.doublecard_body .productCard__premium label >* {
    display: block;
    margin: 0 5px;
    vertical-align: unset;
}
.doublecard_body .productCard__premium label >span {
    max-width: none;
}
.doublecard_body .productCard__premium label >.productCard__premium-checkbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin-left: 10px;
    padding: 3px;
    border: 1px solid #bdbdbd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}
.doublecard_body .productCard__premium label >.productCard__premium-checkbox >svg {
    display: none;
    width: 100%;
    height: 100%;

    fill: #ff0037;
}
.doublecard_body .productCard__premium >input:checked ~label .productCard__premium-checkbox >svg {
    display: block;
}
.doublecard_body .productCard__premium .icon-prem-top {
    background-size: contain;
}
.doublecard_body .productCard__premium .icon-prem-ask {
    float: none;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 0;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #bdbdbd;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_body .productCard__premium label >.productCard__premium-limit {
    margin-right: 0;
    padding: 5px 10px;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #ff9333;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
}
.doublecard_body .productCard__premium label >.doublecard_premium_title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    text-align: center;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_sub .productCard__premium label >.doublecard_premium_title {
    -webkit-box-flex: unset;
    -webkit-flex: unset;
    -moz-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
}
.doublecard_size--column {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    padding: 8px;
}
.doublecard_size--column .doublecard_size_titles, .doublecard_size--column .doublecard_size_sizes, .doublecard_size--column .doublecard_size_links {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    margin: 5px auto;
    padding: 0;
}
.doublecard_size--column .doublecard_size_title, .doublecard_size--column .doublecard_size_size, .doublecard_size--column .doublecard_size_link {
    display: block;
    width: 50%;
    text-align: center;
}
.doublecard_size--column .doublecard_size_title {
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}
.doublecard_size--column .doublecard_size_sizes {
    height: 40px;
}
.doublecard_size--column .doublecard_size_size {
    height: 100%;
}
.doublecard_size_input {
    display: none;
}
.doublecard_size_label {
    position: relative;
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #0054a6;
    border: 1px solid #c4c4c4;
    background: #fff;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2em;
}
.doublecard_size--column .doublecard_size_label {
    font-size: 16px;
    line-height: 1.2em;
}
.doublecard_size--row .doublecard_size_label {
    font-size: 20px;
    line-height: 1.2em;
}
.doublecard_size--column .doublecard_size_label:before {
    position: absolute;
    top: 0;
    right: 100%;
    display: block;
    width: 1px;
    height: 26px;
    margin: 7px 0;
    content: '\00a0';
    background: #c4c4c4;
}
.doublecard_size_size .doublecard_size_input:checked ~.doublecard_size_label {
    border-bottom: none;
}
.doublecard_size--row .doublecard_size_size .doublecard_size_label {
    padding: 8px 10px 8px 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.doublecard_size--row .doublecard_size_size .doublecard_size_input:checked ~.doublecard_size_label {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -moz-border-bottom-left-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
.doublecard_size--column .doublecard_size_size:first-child .doublecard_size_label {
    border-right: none;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;

    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
}
.doublecard_size--column .doublecard_size_size:first-child .doublecard_size_label:before {
    display: none;
}
.doublecard_size--column .doublecard_size_size:first-child .doublecard_size_input:checked ~.doublecard_size_label {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -moz-border-bottom-left-radius: 0;
}
.doublecard_size--column .doublecard_size_size:last-child .doublecard_size_label {
    border-left: none;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;

    -moz-border-top-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}
.doublecard_size--column .doublecard_size_size:last-child .doublecard_size_input:checked ~.doublecard_size_label {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;

    -moz-border-bottom-right-radius: 0;
}
.doublecard_size_selected {
    display: block;
    min-width: 50px;
}
.doublecard_size_arrow {
    display: block;
    width: 1em;
    height: 1em;
    margin: .1em .1em .1em 20px;

    fill: currentColor;
}
.doublecard_size_size .doublecard_size_input:checked ~.doublecard_size_label .doublecard_size_arrow {
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}
.doublecard_size_list, .doublecard_body .fbasket__list ul.doublecard_size_list {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: 0;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% + 2px);
    margin: 0 -1px;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-top: none;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #fff;

    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}
.doublecard_size_input:checked ~ .doublecard_size_label .doublecard_premium__arrow {
    -webkit-transform: scale(1, -1);
    -moz-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    transform: scale(1, -1);
}
.doublecard_size_input:checked ~.doublecard_size_label .doublecard_size_list {
    display: block;
}
.doublecard_size_item, .doublecard_body .fbasket__list li.doublecard_size_item {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: stretch;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    padding: 0;
}
.doublecard_size_item >span {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 13px;
    -webkit-transition: background-color .5s ease-out 0s;
    -moz-transition: background-color .5s ease-out 0s;
    -ms-transition: background-color .5s ease-out 0s;
    -o-transition: background-color .5s ease-out 0s;
    transition: background-color .5s ease-out 0s;
    text-align: left;
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}
.doublecard_size_item:hover >span {
    background: rgba(0, 84, 166, .15);
    font-weight: bold;
}
.doublecard_size--column .doublecard_size_link {
    -webkit-transition: color .5s ease-out 0s;
    -moz-transition: color .5s ease-out 0s;
    -ms-transition: color .5s ease-out 0s;
    -o-transition: color .5s ease-out 0s;
    transition: color .5s ease-out 0s;
    color: #0054a6;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}
.doublecard_size--column .doublecard_size_link:hover {
    color: #333;
}
.doublecard_size--row {
    display: block;
    margin: 16px;
}
.doublecard_size--row .doublecard_size_size {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 40px;
    margin: 8px 0;
}
.doublecard_size--row .doublecard_size_title {
    display: block;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_size--row .doublecard_size_title_sku {
    display: block;
    color: #bdbdbd;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2em;
}
.doublecard_size--row .doublecard_size_value {
    display: block;
    height: 100%;
    margin: 0 20px;
}
.doublecard_size--row .doublecard_size_link {
    display: block;
    text-align: center;
    color: #0054a6;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    /*width: 70px;*/
}
.doublecard_size--row .doublecard_size_price {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    text-align: center;
    white-space: nowrap;
    color: #0054a6;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_size--row .doublecard_size_price.doublecard_size_price--was {
    text-decoration: line-through;
    color: #828282;
    font-weight: normal;
}
.doublecard_sub {
    display: block;
    padding: 16px 8px 8px 8px;
    background: #f7f7f7;
}
.doublecard_sub_title {
    display: block;
    text-align: center;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_sub_discount {
    display: block;
    text-align: center;
    color: #eb5757;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.addedToBasket-content .inner-text .title {
    margin: 0;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_body #inBasket {
    margin: 5px 0;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_body .blockButtons {
    margin: 0 !important;
}
.addedToBasket-content .inner-text .returnButton {
    width: auto;
    height: auto;
    margin: 20px 0;
    padding: 8px 16px !important;
    -webkit-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    -moz-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    -ms-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    -o-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    transition: color .2s ease-out 0s, background .2s ease-out 0s;
    color: #0054a6;
    border: 1px solid #0054a6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff !important;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.addedToBasket-content .inner-text .returnButton:hover {
    color: #fff;
    background: #0054a6 !important;
}
.addedToBasket-content .inner-text .toBasket {
    width: auto;
    height: auto;
    margin: 20px 0;
    padding: 8px 16px !important;
    -webkit-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    -moz-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    -ms-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    -o-transition: color .2s ease-out 0s, background .2s ease-out 0s;
    transition: color .2s ease-out 0s, background .2s ease-out 0s;
    color: #fff;
    border: 1px solid #d90000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #d90000;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.addedToBasket-content .inner-text .toBasket:hover {
    color: #fff;
    background: #980000;
}
.addedToBasket-content .inner-text .toBasket >.wicon {
    display: inline-block;
    height: 1em;
    margin: -.1em 10px 0 0;
    -webkit-transition: fill .2s ease-out 0s;
    -moz-transition: fill .2s ease-out 0s;
    -ms-transition: fill .2s ease-out 0s;
    -o-transition: fill .2s ease-out 0s;
    transition: fill .2s ease-out 0s;
    vertical-align: middle;

    fill: currentColor;
}
.doublecard_mbasket {
    display: block;
    margin: 16px auto;
}
.doublecard_mbasket_item {
    display: block;
    margin: 20px 0;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.doublecard_mbasket_header {
    display: block;
    background: #f7f7f7;
}
.doublecard_mbasket_header {
    position: relative;
    display: block;
    padding: 10px 20px 10px 20px;
    background: #f7f7f7;
}
.doublecard_mbasket_title {
    display: block;
    text-align: left;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_mbasket_title, .doublecard_mbasket_sku {
    margin: 0 100px 0 0;
}
.doublecard_mbasket_sku {
    display: block;
    text-align: left;
    color: #828282;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_mbasket_item .doublecard_mbasket_header .doublecard_mbasket_remove {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 70px;
    margin: -.6em 20px 0 0;
    padding: 0;
    -webkit-transition: color .2s ease-out 0s;
    -moz-transition: color .2s ease-out 0s;
    -ms-transition: color .2s ease-out 0s;
    -o-transition: color .2s ease-out 0s;
    transition: color .2s ease-out 0s;
    text-align: left;
    color: #828282;
    background: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_mbasket_header .doublecard_mbasket_remove:hover {
    color: #000;
}
.doublecard_mbasket_body {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 20px;
}
.doublecard_mbasket_img {
    display: block;
    width: 100px;
}
.doublecard_mbasket_sizes {
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: auto;
    margin: 0 20px;
    padding: 0px;
}
.doublecard_mbasket_sizes .doublecard_size_size .doublecard_size_title {
    -webkit-box-flex: .7;
    -webkit-flex: .7;
    -moz-box-flex: .7;
    -ms-flex: .7;
    flex: .7;
    width: auto;
}
.doublecard_mbasket_sizes .doublecard_size_size .doublecard_size_title.doublecard_size_title--full {
    -webkit-box-flex: .85;
    -webkit-flex: .85;
    -moz-box-flex: .85;
    -ms-flex: .85;
    flex: .85;
    width: auto;
}
.doublecard_mbasket_sizes .doublecard_size_size .doublecard_size_link {
    /*margin-right: 50px;*/
    color: #bdbdbd;
}
.doublecard_mbasket_sizes .doublecard_size_size .doublecard_size_link:hover {
    color: #0054a6;
}
.doublecard_body .fbasket__list .doublecard_size_size .doublecard_size_link {
    margin: 0;
    color: #bdbdbd;
}
.doublecard_body .fbasket__list .doublecard_size_size .doublecard_size_link:hover {
    color: #0054a6;
}
.doublecard_mbasket_prices {
    text-align: left;
    display: block;
    width: 70px;
}
.doublecard_mbasket_price {
    display: block;
    text-align: left;
    color: #d90000;
    white-space: nowrap;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    font-weight: 700;
    color: #000;
}
.doublecard_mbasket_price--was {
    color: #999;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    text-decoration: line-through;
}
/**/
.fbasket__right .doublecard_mbasket {
    margin: 0;
}
.fbasket__right .doublecard_mbasket.doublecard_size--row .doublecard_size_title {
    width: auto;
}
.fbasket__right .doublecard_mbasket.doublecard_size--row .doublecard_size_value {
    width: 100%;
    margin: 0 0 10px;
}
.fbasket__right .doublecard_mbasket.doublecard_size--row .doublecard_size_link {
    width: auto;
}
.fbasket__right .doublecard_mbasket_sizes {
    margin: 0 20px;
}
.fbasket__right .doublecard_mbasket_sizes .doublecard_size_size {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: auto;
}
.fbasket__right .doublecard_mbasket_img {
    width: 75px;
}
.fbasket__right .doublecard_mbasket_body {
    padding: 8px;
}
.fbasket__right .doublecard_mbasket_prices {
    width: auto;
    margin-left: 20px;
}
.fbasket__right .doublecard_mbasket_price {
    text-align: center;
}
.fbasket__right .doublecard_mbasket_remove {
    width: auto;
}
.doublecard_premium_title-pre,
.doublecard_size_title-pre {
    display: none;
    font-size: 13px;
    color: #333333;
}
.fbasket__right .doublecard_premium_title-pre,
.fbasket__right .doublecard_size_title-pre {
    display: block;
}
/**/
@media screen and (min-width: 720px) {
    .fbasket__right .doublecard_mbasket_item:nth-last-child(1) .doublecard_mbasket_title:after {
        display: none;
    }
    .doublecard_mbasket_item:nth-last-child(1) .doublecard_mbasket_title:after {
        position: absolute;
        top: 17px;
        left: 50%;
        display: inline-block;
        content: 'Последний добавленный товар';
        text-align: center;
        color: #666;
        font-size: 13px;
        font-weight: normal;
        font-style: italic;
    }
}
@media screen and (min-width: 1001px) {
    .addedToBasket-content .doublecard_size--row .doublecard_size_size {
        width: 100%;
    }
    .addedToBasket-content .doublecard_mbasket_sizes {
        display: flex;
        align-items: center;
    }

    .addedToBasket-content .doublecard_mbasket_sizes .doublecard_premium {
        max-height: 40px;
    }
}

@media screen and (max-width: 1000px) {
    .doublecard_premium {
        max-width: 125px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 1000px) {
    .blockButtons {
        margin: 0;
    }
    .addedToBasket-content .inner-text .toBasket >.wicon {
        display: none;
    }
    .addedToBasket-content #inBasket {
        padding: 10px 20px 10px 20px;
        text-align: center;
    }
    .addedToBasket-content .inner-text .returnButton, .addedToBasket-content .inner-text .toBasket {
        width: calc(50% - 15px);
        margin: 10px;
    }
    .addedToBasket-content .inner-text .returnButton {
        margin-right: 5px;
    }
    .addedToBasket-content .inner-text .toBasket {
        margin-left: 5px;
    }
    .doublecard_body .productCard__premium {
        margin: 8px;
    }
    .doublecard_body .productCard__premium label >.productCard__premium-checkbox {
        margin-left: 0;
    }
    .doublecard_body .productCard__premium .icon-prem-top {
        width: 24px;
        height: 24px;
    }
    .doublecard_body .productCard__premium label >.doublecard_premium_title {
        text-align: left;
        font-size: 14px;
        line-height: 1.2em;
    }
    .doublecard_body .productCard__premium label >.doublecard_premium_title .productCard__premium-price {
        display: block;
    }
    .doublecard_sub .productCard__premium label >.doublecard_premium_title .productCard__premium-price {
        display: inline-block;
    }
    .doublecard_body .productCard__premium label >.productCard__premium-limit {
        padding: 2.5px 5px;
        font-size: 12px;
        line-height: 1.2em;
    }
    .doublecard_size--row .doublecard_size_title {
        width: 60px;
    }
    .doublecard_size--row .doublecard_size_value {
        margin: 0 5px;
    }
    .doublecard_size--row .doublecard_size_price {
        font-size: 14px;
        line-height: 1.2em;
    }
    .doublecard_size--row .doublecard_size_size .doublecard_size_label {
        padding: 8px 0 8px 10px;
    }
    .doublecard_mbasket {
        margin: 8px;
    }
    .doublecard_mbasket.doublecard_size--row .doublecard_size_title {
        width: auto;
    }
    .doublecard_mbasket.doublecard_size--row .doublecard_size_value {
        width: 100%;
        margin: 10px 0;
    }
    .doublecard_mbasket.doublecard_size--row .doublecard_size_link {
        width: auto;
        margin: 0;
    }
    .doublecard_mbasket_sizes .doublecard_size_size {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
    .doublecard_mbasket_img {
        width: 75px;
    }
    .doublecard_mbasket_body {
        padding: 8px;
    }
    .doublecard_mbasket_prices {
        width: auto;
        padding: 0px 10px;
    }
    .doublecard_mbasket_price {
        text-align: right;
    }
    .doublecard_mbasket_remove {
        width: auto;
    }
    .fbasket__right .doublecard_mbasket {
        margin: 0;
    }
    .doublecard_body .win__cell {
        padding: 25px 8px;
    }
}
@media screen and (max-width: 680px){
    .doublecard_size--row .js-big-pic {
        display: none;
    }
}
.productCard__buttons.doublecard_mbasket_buttons {
    background: #f7f7f7;
}
/**/
.fbasket__list .doublecard_size_title {
    display: none;
}
.fbasket__list .doublecard_size_link,
.fbasket__list .doublecard_premium__link {
    text-align: left;
}
.doublecard_premium * {
    box-sizing: border-box;
}
.doublecard_premium {
    display: block;
    height: 100%;
}
.doublecard_premium__input {
    display: none;
}
.doublecard_premium__arrow {
    display: block;
    width: 1em;
    height: 1em;
    margin: .1em .1em .1em 20px;

    fill: currentColor;
}
.doublecard_premium__fake {
    position: relative;
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 124px;
    height: 100%;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
}
.doublecard_premium__fake-text {
    color: #0054a6;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2em;
}
.doublecard_premium__fake-text-dummy {
    display: none;
}
.doublecard_premium__input:checked ~.doublecard_premium__ul {
    display: block;
    margin-top: -2px;
}
.doublecard_premium__ul {
    position: absolute;
    z-index: 5;
    top: 100%;
    left: -1px;
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% + 2px);
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #c4c4c4;
    border-top: none;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #fff;
    font-size: 0;
    line-height: 0;

    -moz-border-bottom-left-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}
.doublecard_premium__li {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}
.doublecard_premium__li-value {
    display: block;
    width: 100%;
    padding: 5px 13px;
    -webkit-transition: background-color .5s ease-out 0s, font-weight .4s;
    -moz-transition: background-color .5s ease-out 0s, font-weight .4s;
    -ms-transition: background-color .5s ease-out 0s, font-weight .4s;
    -o-transition: background-color .5s ease-out 0s, font-weight .4s;
    transition: background-color .5s ease-out 0s, font-weight .4s;
    text-align: left;
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
}
.doublecard_premium__li:hover .doublecard_premium__li-value {
    background: rgba(0, 84, 166, .15);
    font-weight: bold;
}
.doublecard_premium__link {
    display: block;
    text-align: center;
    color: #bdbdbd;
    font-family: 'PT Sans', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
}
.doublecard_premium__link:hover {
    color: #0054a6;
}
