/* PARTNER START START */
.partner-start{
    width: 100%;
    display: flex;
    height: 250px;
}
.partner-start_image{
    height: 100%;
    position: relative;
}
.partner-start_image img{
    height: 100%;
    max-width: 100%;
}
.partner-start_title{
    bottom: 0;
    width: 100%;
    font-size: 16px;
    padding: 14px 12px;
    line-height: 15px;
    position: absolute;
    background: #97a1ab;
    text-align: center;
    color: #fff;
}
.partner-start_info{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.partner-start_info .thumb{
    display: flex;
    margin-top: 0px;
    flex-direction: 1;
}
.partner-start_features{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.partner-start_features ul{
    margin: 0px;
    height: 100%;
    display: flex;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    flex-direction: column;
    justify-content: space-around;
}
.partner-start_buttons{
    flex: none !important;
}
.partner-start_buttons .button{
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
@media screen and (max-width: 860px){
    .partner-start{
        height: 180px;
    }
    .partner-start_features ul{
        font-size: 16px;
    }
}
@media screen and (max-width: 640px){
    .partner-start{
        height: auto;
        display: block;
    }
    .partner-start_image img{
        height: auto;
    }
    .partner-start_features ul{
        padding-right: 15px;
    }
}
/* PARTNER START END */

/* PARTNER AGREEMENT START */
.partner-agreement{
    
}
.partner-agreement_rules{
    height: 500px;
    overflow-y: auto;
}
/* PARTNER AGREEMENT END */

/* PARTNER DESIGN START */
.design-preview-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    padding-bottom: 12px;
}
.design-preview-list .item{
    flex: 1;
    opacity: .7;
    text-align: center;
    margin-top: 25px;
    max-width: 33.33333333%;
}
.design-preview__label{
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
}
.design-preview__checkbox{
    position: relative;
    top: 2px;
}
.design-preview__title {
    float: none !important;
    color: #000 !important;
    padding-right: 7px !important;
}
.design-preview__image{
    min-height: 315px;
    position: relative;
}
.design-preview__image-element{
    max-width: 100%;
}
.design-preview__image-preloader{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #666;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}
.design-preview__image-preloader i{
    font-size: 34px;
    margin-bottom: 10px;
}
.design-preview__image-preloader:before {
    top: 0;
    left: 50%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
    transition: all 75ms ease-in;
    z-index: -1;
}
/* PARTNER DESIGN END */