@import "popup.css";

/*a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}*/

.banner{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    color: #262626;
    /*background: #fafafa;*/
    background: #f4f4f4;
    font-family: 'Open Sans', sans-serif;
}

a:link,
a:visited{
    color: #d2383b;
    text-decoration: none;
    transition: all .2s ease;
}
a:link:hover,
a:visited:hover{
    color: #d24d44;
}

p {
    font-size: 14px;
    margin: 0.6em 0;
}

/* HEADERS START */
h2, .h2 {
    color: #5d5252;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 7px 7px 10px;
    padding: 0px;
}
/* HEADERS END */

/* TOPLINE START */
.topline{
    color: #262626;
    background: #fff;
    border-bottom: 1px solid #e8eaf0;
}
.topline-container{
    height: 45px;
    display: flex;
    flex-shrink: 0;
    padding: 0 15px;
    box-sizing: border-box;
}
.topline-menu {
    width: 100%;
    display: flex;
    margin-right: 40px;
}
a.topline-menu__item{
    color: #323232;
    margin-left: 21px;
}
.topline-menu__item:first-child{
    margin-left: 0px;
}
.topline-link{
    cursor: pointer;
    display: inline-flex;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    align-items: center;
    white-space: nowrap;
}
.topline-user{
    display: flex;
    margin-left: 40px;
}
a.topline-user-block{
    color: #262626;
    align-items: center;
    display: inline-flex;
}
.topline-user-avatar{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    margin-right: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.topline-user-name{
    height: 16px;
    overflow: hidden;
    font-size: 13px;
    transition: color 0.2s;
    margin-top: 3px;
    line-height: 15px;
    white-space: nowrap;
    flex-shrink: 0;
    text-overflow: ellipsis;
    text-decoration: none;
}
.topline-user-block:hover{
    cursor: pointer;
}
.topline-user-block:hover .topline-user-name{
    color: #d24d44;
}
/* TOPLINE END */

/* HEADER START */
.header{
        margin-bottom: 15px;
}
.header-container{
    width: 100%;
    box-sizing: border-box;
    padding: 25px 15px 15px;
    border-bottom: 1px solid #e8eaf0;
    margin: 0 auto;
}
.header-top{
    display: flex;
    align-items: center;
}
a.header-logo{
    color: #323232;
    font-size: 32px;
    max-height: 40px;
    font-weight: 700;
    align-items: center;
    display: inline-flex;
    margin-right: 25px;
    width: 200px;
}
.header-logo-icon{
    position: relative;
    padding-right: 20px;
}
.header-logo-project:after{
    content: '';
    top: 11px;
    right: 9px;
    width: 3px;
    height: calc( 100% - 19px );
    position: absolute;
    background: #d24d44;
    display: inline-block;
}
/*.header-logo-icon:after{
    width: 9px;
    height: 9px;
    top: 50%;
    right: 5.5px;
    margin-top: -5.5px;
    border-radius: 50%;
}*/
.header-logo-icon img{
    height: 100%;
    max-height: 40px;
}
.header-logo-project{
    padding-right: 20px;
    font-weight: normal;
    position: relative;
}
.header-logo-project:first-letter{
    
}
.header-middle{
    flex: 1;
}
.header-search{
    width: 100%;
    display: flex;
    background: #eee;
    background: #eaeaea;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
}
.header-search-box{
    flex: 1;
    box-sizing: border-box;
    /*border: 2px solid #d24d44;*/
}
.header-search-input{
    z-index: 3;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 100%;
    color: #000;
    border: 0 solid transparent;
    outline: 0;
    height: 100%;
    box-sizing: border-box;
    background: transparent;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    border-right-width: 16px;
    border-left-width: 16px;
}
.header-search .button,
.header-search .button-text{
    padding: 0px;
    color: #d24d44 !important;
    font-weight: normal !important;
    background: transparent !important;
}
.header-share{
    margin-left: 25px;
}
.header-share .rambler-share{
    margin: -5px 0px;
}

.header-burger{
    width: 18px;
    height: 18px;
    padding-right: 15px;
    overflow: hidden;
    position: relative;
    min-width: 18px;
    margin-top: 1px;
    display: none;
}
.header-burger span {
    width: calc( 100% - 15px );
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    margin: 1.5px 0px;
    background: #444;
    position: absolute;
    display: block;
    content: '';
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
}
.header-burger span:nth-child(1){top: 0;}
.header-burger span:nth-child(2){top: 50%;margin-top: -1.5px;}
.header-burger span:nth-child(3){bottom: 0;}

.header-burger.active span:nth-child(1){transform: rotate(45deg);top: 6px;}
.header-burger.active span:nth-child(2){opacity: 0;}
.header-burger.active span:nth-child(3){transform: rotate(-45deg);top: 6px;}

.header-button{
    margin-left: 25px;
}
.header-button-icon{
    padding: 0px 10px;
    font-size: 24px;
}

a.header-cart,
a.header-contact{
    color: #262626;
    background: #eee;
    background: #eaeaea;
    background: #fff;
    border-radius: 3px;
    height: 48px;
    min-width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 25px;
}
a.header-cart:hover,
a.header-contact:hover{
    color: #262626 !important;
    background: #f4f4f4;
}
a.header-cart--active,
a.header-contact--active{
    color: #fff !important;
    background: #d24d44;
    background: #22B3C4;
}
a.header-cart--active:hover,
a.header-contact--active:hover{
    color: #fff !important;
    background: #af3e3e;
    background: #1D99A9;
}
.header-cart-box,
.header-contact-box{
    display: flex;
    padding: 4px 8px;
    align-items: center;
    box-sizing: border-box;
}
.header-cart-icon,
.header-contact-icon{
    padding: 0px 10px;
    font-size: 24px;
}
.header-cart-icon{
    margin-top: -2px;
}
.header-cart-text,
.header-contact-text{
    font-size: 13px;
    padding: 0px 10px;
}
.header-cart-text-lots,
.header-contact-text-data{
    display: block;
    font-weight: 700;
    white-space: nowrap;
}
.header-cart-text-cost,
.header-contact-text-desc{
    display: block;
    font-size: 13px;
}
.header-cart-counter{
    display: none;
}

.header-bottom{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.header-catalog-button{
    width: 200px;
    margin-top: 10px;
    margin-right: 25px;
}
.header-catalog-button > * {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
}

.header-nav{
    position: relative;
    margin-top: 15px;
    height: 20px;
    overflow: hidden;
    font-size: 0;
}
a.header-nav-item{
    display: inline-block;
    margin-right: 30px;
    font-size: 15px;
    line-height: 20px;
    white-space: nowrap;
    color: #262626;
    text-decoration: none;
    -webkit-transition: color .2s;
    transition: color .2s;
    font-weight: bold;
}

/* HEADER END */

/* FORMS START */
fieldset{
    border: none;
    margin: 15px 0px 0px;
    padding: 0px;
}
fieldset label{
    font-weight: 600;
    color: #97a1ab;
    padding: 0px 2px 3px;
    display: block;
    font-size: 13px;
    avisibility: hidden;
    letter-spacing: 1.5px;
}

fieldset.image input{
    display: none;
}

.input-group{
    display: flex;
    align-items: center;
}
.input-group-addon{
    text-align: center;
    padding: 0px 10px;
}

.form-page{
    width: 100%;
}
.form-horizontal{
    width: 100%;
}

.field,
div.send-form-area{
    display: block;
    border: none;
    padding: 10px 12px 11px 12px;
    width: 100%;
    background: #2b2b30;
    background: #f5f8fa;
    color: rgba(255,255,255,0.52);
    color: rgba(0,0,0,0.52);
    cursor: text;

    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    box-sizing: border-box;
}
select.field{
    cursor: pointer;
}
.field:empty{
    color: #97a1ab;
}
.field:focus::placeholder{
    color: #fff;
}
fieldset .field:focus + label{
    visibility: visible;
    border: 1px solid red;
    color: red;
}
div.send-form-area:empty:before{
    content: attr(placeholder);
    display: block;
}
.field:hover, .field:active, .field:focus, .field:target, .icon:hover, .icon:focus, .icon:target, div.send-form-area{
    outline: none;
}

.row-title{
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.count-row{
    display: flex;
}
.count-row input{
    flex: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.count-row .count-button{
    width: 37px;
    height: 37px;
    cursor: pointer;
    font-weight: bold;
    background: #fff;
    line-height: 37px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
}
/* forms end */

.content.tab-content{
    display: none;
}
.content.tab-content.current{
    display: block;
}

.pedit-form{
    padding: 12px;
}

.form-row{
    margin-bottom: 12px;
}
.form-row.has-error{

}
.form-row.has-error .form-label{
    color: #d2383b;
}
.form-row.has-error .form-input-wrap input{
    background: #f3cfd0;
}

.form-row:last-child{
    margin-bottom: 0px;
}
.form-label{
    color: #656565;
    padding: 6px 10px 0 0;
    line-height: 25px;
}
.form-input-wrap{
    
}
.form-input-wrap input,
.form-input-wrap select,
.form-input-wrap textarea{
    width: 100%;
    background: #f4f4f4;
    border: none;
    box-shadow: none;
}

.form-horizontal .form-label{
    width: 170px;
    float: left;
    text-align: right;
}
.form-horizontal .form-input-wrap{
    float: left;
    width: calc( 100% - 170px );
}
/* FORMS END */

/* BUTTONS START */
.button,
a.button{
    color: #fff;
    border: none;
    display: inline-block;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
    font-size: 12.5px;
    line-height: 14px;
    border-radius: 3px;
    padding: 8px 16px 8px;
    -moz-user-focus: ignore;
    user-select: none;
    white-space: nowrap;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    transition: all .2s ease;
}
.button:hover,
a.button:hover{
    color: #fff;
    cursor: pointer;
}
.button-color, a.button-color{
    color: #fff;
    background-color: #d24d44;
}
.button-color:hover, a.button-color:hover{
    color: #fff;
    background-color: #af3e3e;
}
.button-primary, a.button-primary{
    color: #fff;
    background-color: #22B3C4;
}
.button-primary:hover, a.button-primary:hover{
    color: #fff;
    background-color: #1D99A9;
}
.button-gray{
    position: relative;
    z-index: 0;
    color: #202020;
    border: none;
    outline: none;
    background: 0 0;
    border-radius: 3px;
    background-color: #e8e8e8;
}

.button .icon{
    color: inherit;
}

.button.full_width{
    width: 100%;
}

.buttons-group{
    width: 100%;
    display: flex;
    flex: 1;
}
.buttons-group .button{
    border-radius: 0;
}
.buttons-group .button:last-child{
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.buttons-group .button:first-child{
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon, .md-icon {
    background: none;
    border: none;
    position: relative;
    color: rgba(255, 255, 255, 0.52);
    color: rgba(0, 0, 0, 0.52);
    transition: .22s color;
}
button.md-icon:not(.not-button) {
    width: 40px;
    min-height: 36px;
    line-height: 36px;
}
button.md-icon:active, button.md-icon:focus, button.md-icon:hover, button.icon:hover, a.md-icon:hover, a.icon:hover {
    outline: none;
    cursor: pointer;
    color: #fff;
    color: #000;
}
.icon.with-bg:hover, button.icon:hover, button.md-icon:hover {
    background: rgba(0, 0, 0, .05);
}

.button-size-ml,
a.button-size-ml{
    padding: 0px !important;
    font-size: 16px;
    line-height: 50px;
    height: 48px;
}
.button-size-ml .button-text {
    margin: 0 16px;
    font-weight: bold;
}
/* BUTTONS END */

/* TAGS START */
.tags-holder{
    margin: 15px 0px 5px;
}
.tags-holder .title{
    font-weight: bold;
    margin-bottom: 5px;
}
.tags-holder .tags{
    display: inline-block;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.tags-holder .tags li{
    display: inline-block;
    margin: 5px 5px 0px 0px;
}
.tags-holder .tags li a{
    display: inline-block;
    padding: 5px 7px;
    font-weight: bold;
    background: #f5f8fa;
    font-size: 13px;
}
/* TAGS END */

/* USER ELEMENTS */
.file-upload{
    padding: 15px;
    background: #EFF3F5;
    text-align: center;
}
/* USER ELEMENTS END */

/* TABS START */
.user-tabs{
    margin-bottom: 0px;
    position: relative;
    padding: 0 8px;
    margin: 0;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 0px;
}
.user-tabs ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.user-tabs ul li{
    display: inline-block;
}
.user-tabs ul li a.user-tab{
    display: block;
    line-height: 18px;
    padding: 16px 6px 15px;
    margin: 0 4px -1px;
    outline: none;
    color: #656565;
    float: left;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    cursor: pointer;
}
.user-tabs ul li a.user-tab span{
    float: none;
    margin-left: 3.5px;
}
.user-tabs ul li a.user-tab-sel{
    color: #000;
    border-bottom: 2px solid #d2383b;
    padding-bottom: 13px;
}

/* TABS END */

/* AVATAR START */
.avatar-circle{
    border-radius: 50%;
}
.avatar img{
    display: block;
}
.avatar.small img{
    height: 24px;
    width: 24px;
}
.avatar.middle img{
    height: 40px;
    width: 40px;
}
.avatar.big img{
    height: 140px;
    width: 140px;
}
/* AVATAR END */

.page-main{

}
.page-main__row{

}
.page-main__header{

}
.page-main__title{
    margin-top: 35px;
    margin-bottom: 25px;
}
.page-main__title-text{
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
}


.page-layout{
    width: 100%;
    display: flex;
}
.page-layout--reverse{
    flex-direction: row-reverse;
}
.page-layout__main{
    width: 60%;
    min-width: 60%;
}
.page-layout__sidebar{
    width: 100%;
    padding-left: 20px;
}
.page-layout--reverse .page-layout__sidebar{
    padding-left: 0px;
    padding-right: 20px;
}

.catalog-layout{
    width: 100%;
    display: flex;
}
.catalog-layout--reverse{
    flex-direction: row-reverse;
}
.catalog-layout__main{
}
.catalog-layout__sidebar{
    width: 20%;
    min-width: 20%;
    padding-right: 15px;
}
.catalog-layout--reverse .catalog-layout__sidebar{
    padding-left: 15px;
    padding-right: 0px;
}

.blank-page{
    display: flex;
    align-items: center;
}
.blank-row{
    display: flex;
}
.blank-row .spacer{
    width: 10px;
    height: 10px;
}
.blank-title{
    font-size: 35px;
    margin: 8px 0 18px 0;
}
.blank-description{
    margin-bottom: 10px;
}
.blank-description p{
    margin: 0px 0px 8px;
}
@media screen and (max-width: 768px){
    .blank-row{
        display: block !important;
    }
}
@media screen and (max-width: 481px){
    .blank-page{
        padding-left: 10px;
        padding-right: 10px;
    }
}

.container{
    margin: 0px auto;
    max-width: 1275px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

section.catalog{
    background: #fff;
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
}

.thumb{
    width: 100%;
    font-size: 14px;
    display: inline-block;
    margin-top: 15px;
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    box-sizing: border-box;
    position: relative;
}
.thumb.padding{
    padding: 10px 12px;
}
.thumb-title {
    height: 28px;
    display: flex;
    padding-left: 10px;
    /* padding-right: 10px; */
    align-items: center;
    box-sizing: border-box;
}
.thumb-title span.thumb-title-inner {
    font-size: 13px;
}
.thumb-title .spacer{
    flex: 1;
}
.thumb-title .actions {
    display: flex;
    height: 100%;
}
.thumb-title .actions a {
    height: 100%;
    display: block;
    font-size: 13px;
    line-height: 28px;
    padding-left: 7px;
    padding-right: 7px;
    box-sizing: border-box;
}

.thumb-inner{
    padding: 10px;
}

.thumb .thumb-toggler{
    cursor: pointer;
    padding: 25px 33px 29px;
}
.thumb .thumb-toggler .title{
    color: #3d424a;
    font-size: 18px;
    font-weight: 100;
    display: inline-block;
}
.thumb .inner{
    padding: 27px 30px;
}

.thumb.tabs{

}
.thumb.tabs .tab{
    padding: 12px;
    cursor: pointer;
    position: relative;
    display: block;
    color: inherit;
}
.thumb.tabs .tab:hover{
    background: #f5f8fa;
    transition: all .2s ease;
    moz-transition: all .2s ease;
}
.thumb.tabs .tab.current:before{
    position: absolute;
    content: '';
    top: 5px;
    left: 0;
    height: 34px;
    width: 3px;
    background: #d2383b;
}



.users-list-tiles{

}
.users-list-tiles .user-tile{
    width: 25%;
    float: left;
}
.users-list-tiles .user-tile span{
    display: block;
    margin-bottom: 5px;
}
.users-list-tiles .user-tile .info{
    margin-top: 0px;
}
.users-list-tiles .user-tile .avatar{

}
.users-list-tiles .user-tile .avatar img{
    width: 100%;
    height: auto;
}
.users-list-tiles .user-tile .info .name{
    
}

@media screen and (max-width: 800px){
    .users-list-tiles .user-tile{
        width: 50%;
    }
}
@media screen and (max-width: 482px){
    .users-list-tiles .user-tile{
        width: 100%;
        display: flex;
    }
    .users-list-tiles .user-tile .avatar {
        
    }
    .users-list-tiles .user-tile .avatar img{
        width: 94px;
        height: 94px;
    }
}

a.name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
}
a.user .name:before, a.name:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 12px;
    background: #a1a1a1;
}

.send-post-form{
    display: flex;
    padding-bottom: 0px;
    position: relative;
    z-index: 5;
}
.send-post-form .avatar{
    padding: 0px 15px 0px 12px;
    overflow: hidden;
}
.send-post-form .avatar img{
    aborder-radius: 40px;
    aoverflow: hidden;
    display: block;
}
.send-post-form .send-form-holder{
    width: 100%;
}
.send-post-form .send-form-area{
    aheight: 42px;
    padding-right: 95px;    
    max-width: 100%;
}
.block .send-post-form .send-form-area{
    padding-right: 0px;
}
.send-post-form .send-button,
.send-post-form .attach-button{
    display: block;
    box-sizing: border-box;
    asvisibility: hidden;
    font-size: 18px;
    height: 100%;
    width: 42px;
    position: absolute;
    top: 0px;
    right: 0px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    padding: 0px;
}
.send-post-form .attach-button{
    right: 42px;
}
.send-post-form .attach-input{
    display: none;
}
.send-post-form .send-button:hover,
.send-post-form .attach-button:hover{
    background: rgba(0, 0, 0, .05);
}
.send-post-form .attach-button .count{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    color: #fff;
    background: red;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -15px;
}
.send-post-form .attach-button .count:empty{
    display: none;
}



.comments-list{
    padding: 20px 0px 0px;
}
.comments-list.empty{
    display: none;
}
.comments-list .comment{
    display: flex;
    margin-bottom: 15px;
    width: 100%;
}
.comments-list .comment:last-child{
    margin-bottom: 0px;
}
.comments-list .comment .avatar{
    margin-right: 15px;
    border-radius: 40px;
    overflow: hidden;
    min-width: 40px;
}
.comments-list .comment .avatar img{
    border-radius: 40px;
}
.comments-list .comment .content{
    flex: 1;
}
.comments-list .comment .content .text{
    background: #f4f4f4;
    padding: 8px 10px 9px;
    word-break: break-word;
}
.comments-list .comment .content .info{
    position: relative;
    bottom: auto;
    margin: -6px 3px 0px 0px;
    display: flex;
}
.comments-list .comment .content .info a,
.comments-list .comment .content .info abbr{
    vertical-align: middle;
    line-height: 36px;
    padding-left: 0px;
}
.comments-list .comment .content .info span{
    font-size: 14px;
    padding: 0px 10px;
    vertical-align: middle;
}
.comments-list .comment .content .info span:last-child{
    padding-right: 0px;
}
.comments-list .comment .content .info .spacer{
    flex: 1;
}
.comments-list .comment .content .info.comment-options{
    margin-top: 3px;
}
.comments-list .comment .content .info.comment-options span:first-child{
    padding-left: 0px;
}



.tablet-show,
.tablet-show-inline{
    display: none !important;
}
@media screen and (max-width: 860px){
    .tablet-show{
        display: block !important;
    }
    .tablet-show-inline{
        display: inline-block !important;
    }

    .topline{
        display: none;
    }

    body{
        padding-top: 53px;
    }

    .container{
        padding-left: 0px;
        padding-right: 0px;
    }

    .header{
        top: 0;
        width: 100%;
        z-index: 99999;
        position: fixed;
        background: #fff;
    }

    .header-container{
        padding: 8px 15px;
    }

    .header-burger{
        display: block;
    }

    a.header-logo{
        font-size: 20px;
    }

    a.header-cart,
    a.header-contact{
        height: 28px;
        color: #262626 !important;
        background: none !important;
        min-width: auto;
        margin-left: 0px;
        box-shadow: none;
    }
    .header-cart-box,
    .header-contact-box{
        padding: 0px;
    }
    .header-cart:hover,
    .header-contact:hover{
        color: #262626 !important;
        background: none;
    }
    a.header-cart--active,
    a.header-contact--active{
        color: #262626 !important;
    }

    .header-cart-icon,
    .header-contact-icon{
        color: #444;
        font-size: 20px;
        position: relative;
    }

    .header-cart-text,
    .header-contact-text{
        display: none;
    }

    a.header-cart--active .header-cart-counter{
        top: 70%;
        left: 70%;
        color: #fff;
        width: 14px;
        height: 14px;
        display: block;
        font-size: 10px;
        line-height: 13px;
        position: absolute;
        text-align: center;
        background: #22B3C4;
        border-radius: 14px;
        transform: translate(-50%, -50%);
    }

    .header-button{
        margin-left: 0px;
    }
    .header-button-icon{
        color: #22B3C4;
        color: #d24d44;
        font-size: 18px;
    }
    .header-contact-icon{
        font-size: 18px;
    }

    .header-search{
        display: none;
    }

    /* MOBILE MENU START */

    body.mobile-menu{
        left: 0px;
        width: 100%;
        overflow: hidden;
        position: absolute;
    }
    body{
        transition: all .2s ease;
    }
    .header-bottom{
        top: 0px;
        left: -271px;
        width: 271px;
        height: 100vh;
        display: block;
        background: #fff;
        position: absolute;
        box-sizing: border-box;
        border-right: 1px solid #eee;
    }
    .header-catalog-button{
        width: 100%;
        margin: 0px;
        padding: 7px 8px;
        box-sizing: border-box;
    }
    .header-nav{
        height: auto;
        margin-top: 8px;
    }
    a.header-nav-item{
        width: 100%;
        display: block;
        padding: 12px 10px;
        background: #fafafa;
        box-sizing: border-box;
        border-bottom: 1px solid #eee;
    }
    a.header-nav-item:first-child{
        border-top: 1px solid #eee;
    }

    /* MOBILE MENU END */

    .page-layout,
    .catalog-layout{
        display: block;
        overflow: hidden;
    }
    .page-layout__main,
    .page-layout__sidebar,
    .catalog-layout__main,
    .catalog-layout__sidebar{
        width: 100%;
        min-width: auto;
        box-sizing: border-box;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }


    .option-row__cloth{
        margin-right: 0px !important;
    }
}