.product-constructor{
    top: 0;
    left: 0;
    padding: 40px 0px;
    position: absolute;
}
.product-constructor-holder{
    overflow: hidden;
}
.canvas-container{
    margin-right: -2px;
    margin-bottom: -2px;
}
.product-constructor__canvas{
    width: 640px; 
    height: 640px; 
    left: 0px; 
    top: 0px; 
    touch-action: auto; 
    user-select: none; 
    cursor: move;
}
.layer-controls {
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    flex-direction: row;
    padding: 2px 34px 2px 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    width: auto;
    z-index: 2;
}

.common-controls, .text-controls {
    display: flex;
    height: 30px;
}

.text-controls__control {
    border-radius: 1px;
    margin-right: 5px;
    transition: all .075s ease-in;
    max-width: 170px;
}
.text-controls__textarea {
    background-color: #fff;
    resize: none;
}

.fonts-select {
    border: 1px solid #a9a9a9;
    border-radius: 1px;
    cursor: pointer;
    position: relative;
    width: 180px;
}
.fonts-select__selected-font {
    padding: 2px 15px 2px 2px;
    position: relative;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    white-space: nowrap;
    display: block;
}
.fonts-select__fa {
    align-items: center;
    background: #fff;
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    line-height: 28px !important;
    justify-content: center;
}
.fonts-select__list {
    background: #fff;
    border: 1px solid #a9a9a9;
    border-top-color: #d4d4d4;
    box-shadow: 0 3px 9px -3px rgba(0,0,0,.25), 0 6px 18px -6px rgba(0,0,0,.15);
    position: absolute;
    left: -1px;
    right: -1px;
    top: 100%;
    max-height: 300px;
    overflow-y: auto;
}
.fonts-select__list-item {
    line-height: 26px;
    display: flex;
    padding-left: 5px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: none !important;
}
.fonts-select__list-item:hover{
    color: #fff;
    background: #d2383b;
}
.fonts-select__load-more {
    align-items: center;
    background: 0 0;
    border: 0;
    font-size: 12px;
    line-height: 26px;
    margin-bottom: 5px;
    text-align: left;
    justify-content: space-between;
    width: 100%;
}


.text-controls__fonts-select .fonts-select__list{
    display: none;
}
.text-controls__fonts-select.opened .fonts-select__list{
    display: block;
}


.bg-colorpicker {
    position: relative;
    width: 30px;
    height: 30px;
}
.text-controls__color-button {
    border: 1px solid #999696;
    box-shadow: inset 0 0 0 2px #f9f9f9;
    width: 30px;
}

.constructor-controls {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 3;
    right: 10px;
    top: 10px;
    transition: opacity 0.075s ease-in;
}
.constructor-controls__button {
    align-items: center;
    display: flex;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    margin: 0 0 5px;
    height: 36px;
    transition: all 0.175s ease-in-out;
    justify-content: center;
    width: 36px;
    z-index: 2;
}


.thumb.construct-panel{
    display: flex;
}
.construct-panel > div{
    padding: 10px 12px;
    box-sizing: border-box;
}
.construct-panel-buttons{
    width: 50%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}
.construct-panel-buttons .button{
    flex: 1;
    width: 100%;
    margin: 5px 0px;
}
.construct-panel-sides{
    width: 50%;
    display: flex;
}
.construct-panel-side{
    margin: 5px;
    border-radius: 5px;
    transition: all .2s ease;
    border: 2px solid transparent;
}
.construct-panel-side:hover{
    cursor: pointer;
    border-color: #ccc;
}
.construct-panel-side.selected{
    border-color: #c03336;
}
.construct-panel-side img{
    width: 100%;
}
.construct-panel.only-one-side{

}
.construct-panel.only-one-side .construct-panel-buttons{
    width: 100%;
    display: flex;
}
.construct-panel.only-one-side .construct-panel-sides{
    display: none !important;
}

@media screen and (max-width: 769px){
    .thumb.construct-panel{
        display: block;
    }
    .product-page-description{
        display: none;
    }
    .construct-panel-buttons{
        width: 100%;
        /*flex-direction: row;*/
    }
    .construct-panel-buttons .button:first-child{
        margin-right: 8px;
    }
    .construct-panel-buttons .button:last-child{
        display: none !important;
    }
    .construct-panel-sides{
        width: 100%;
    }
}