/* PARTNER START START */
.partner-start{
    width: 100%;
    display: flex;
    height: 250px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
}
.partner-start_image{
    height: 100%;
    position: relative;
}
.partner-start_image img{
    height: 100%;
    max-width: 100%;
}
.partner-start_title{
    bottom: 0;
    width: 100%;
    font-size: 16px;
    padding: 16.5px 12px;
    line-height: 15px;
    position: absolute;
    background: #97a1ab;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
}
.partner-start_info{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.partner-start_info .thumb{
    display: flex;
    margin-top: 0px;
    flex-direction: 1;
}
.partner-start_features{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.partner-start_features ul{
    margin: 0px;
    height: 100%;
    display: flex;
    font-size: 20px;
    list-style: none;
    padding: 12px 20px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-around;
}
.partner-start_buttons{
    flex: none !important;
}
.partner-start_buttons .button{
    line-height: 46px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
@media screen and (max-width: 860px){
    .partner-start{
        height: 180px;
    }
    .partner-start_features ul{
        font-size: 16px;
    }
}
@media screen and (max-width: 640px){
    .partner-start{
        height: auto;
        display: block;
    }
    .partner-start_image img{
        height: auto;
    }
    .partner-start_features ul{
        padding-right: 15px;
    }
}
/* PARTNER START END */

/* PARTNER AGREEMENT START */
.partner-agreement{
    
}
.partner-agreement_rules{
    height: 500px;
    overflow-y: auto;
}
/* PARTNER AGREEMENT END */

/* PARTNER DESIGN START */
.design-preview-list{
    display: flex;
    flex-wrap: wrap;
    /*margin-top: -15px;*/
    padding-bottom: 12px;
}
.design-preview-list .item{
    flex: 1;
    opacity: .7;
    text-align: center;
    padding-top: 25px;
    background: #fff;
    max-width: 33.33333333%;
}
.design-preview__label{
    cursor: pointer;
    display: block;
    margin-bottom: 15px;
}
.design-preview__checkbox{
    position: relative;
    top: 2px;
}
.design-preview__title {
    float: none !important;
    color: #000 !important;
    padding-right: 7px !important;
}
.design-preview__image{
    min-height: 315px;
    position: relative;
}
.design-preview__image-element{
    max-width: 100%;
}
.design-preview__image-preloader{
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    color: #666;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 2;
}
.design-preview__image-preloader i{
    font-size: 34px;
    margin-bottom: 10px;
}
.design-preview__image-preloader:before {
    top: 0;
    left: 50%;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-50%);
    transition: all 75ms ease-in;
    z-index: -1;
}
@media screen and (max-width: 1024px){
    .design-preview-list .item{
        flex: 50%;
        width: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 700px){
    .design-preview-list .item{
        flex: 100%;
        width: 100%;
        max-width: 100%;
    }
}
/* PARTNER DESIGN END */

.option-variants-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
    justify-content: flex-start;
}
.option-variant{
    /*flex: 1;*/
}
.option-variant input[type="radio"] {display: none;}
.option-variant input[type="radio"] + label{
    float: left;
    cursor: pointer;
    min-width: 38px;
    background: #fff;
    text-align: center;
    display: inline-block;
    margin: 0px 6px 6px 0px;
    transition: all .2s ease;
    border: 2px solid transparent;

    
}
.option-variant input[type="radio"] + label span{
    display: block;
    padding: 5px 6px;
    border-bottom: 1px solid #E7E7E7;
}
.option-variant input[type="radio"] + label span:last-child{
    border: none;
}
.option-variant input[type="radio"]:hover + label{
    background: #FAFAFA;
}
.option-variant input[type="radio"]:checked + label{
    color: #D2383B;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
}

.option-row__cloth{
    margin-right: 0px;
    justify-content: space-between;
}
.option-row__cloth .row-title{
    display: none;
}
.option-row__cloth .option-variant{
    flex: 1;
}
.option-row__cloth .option-variant label{
    width: calc( 100% - 6px );
}
.option-row__cloth .option-variant input[type="radio"] + label span{
    color: #D2383B;
    font-weight: bold;
}
.option-row__cloth .option-variant input[type="radio"] + label span:last-child{
    color: #4A4A4A;
    font-weight: 100;
}

.option-row__color{

}
.option-row__color .option-variant input[type="radio"] + label{
    font-size: 0;
    min-height: 38px;
    border-color: #fff;
}

.row-title{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.count-row{
    display: flex;
    margin-right: 0px;
}
.count-row input{
    flex: 1;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.count-row .count-button{
    width: 37px;
    height: 37px;
    cursor: pointer;
    font-weight: bold;
    background: #fff;
    line-height: 37px;
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid #d8d8d8;
}