body.with-popup {
    overflow: hidden;
}

.popup_layer {
    display: none;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: auto;
}
.popup_bg{
    background: rgba(0, 0, 0, .8);
    z-index: 9000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
}

.popup_layer.show {
    display: block;
}

.popup {
    z-index: 10000;
    position: absolute;
    max-width: 800px;
    min-width: 350px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup.popup-small{
    max-width: 600px;
}

.popup_header_holder {}
.popup_header {
    background: #e54a55;
    background: #f5f8fa;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 37px;
    color: #333;
}
.popup_header .close {
    color: #333;
    cursor: pointer;
    float: right;
}
.popup_content {
    padding: 15px;
    font-size: 14px;
    background: #fff;
}
.popup_content ul{
    padding-left: 20px;
    margin: 5px 0px 15px;
}
.popup_controls{
    padding: 15px;
    background: #EFF3F5;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #e7e8ec;
    white-space: nowrap;
}

.popup.popup-photo{
    height: 1px;
    min-height: calc( 100% - 60px );
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.popup.popup-photo .photo{
    position: relative;
    height: 100%;
}
.popup.popup-photo .popup_content{
    padding: 55px 0px;
    margin: 0px;
    height: 100%;
    background: #1e1e1e;
}
.popup.popup-photo .popup_content img{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.photo .photo-holder{
    max-height: calc( 100vh - 60px );
}

.popup .actions-holder{
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0px 15px;
    position: fixed;
    z-index: 10;
}
.popup .actions-bottom{
    top: calc( 100% - 46px );
    bottom: auto;
}
.popup .actions .action span:hover,
.popup .actions button.action:hover,
.popup .actions .action button:hover{
    color: #fff;
}