.button{
    transition: all .2s ease;
}
.button.gray{
    color: #fff !important;
    background: #22B3C4 !important;
}
.button.gray:hover{
    color: #fff !important;
    background: #00B0C0 !important;
}

.alert-block{
    color: #fff;
    padding: 15px;
    background: #D2383B;
    margin-bottom: 15px;
    font-size: 13px;
}
.alert-block a{
    color: #fff !important;
    font-weight: bold;
}

.banner{
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
}
.banner img{
    width: 100%;
    max-width: 100%;
}

.product-thumb-loading{
    color: #666;
    height: auto;
    display: block;
    font-size: 32px;
    padding: 0px 12px;
    text-align: center;
    line-height: 50px;
    font-weight: 100;
    padding-bottom: 100%;
    position: relative;
    height: 0;
}
.product-thumb-loading i{
    top: 50%;
    left: 50%;
    width: 32px;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* CATALOG START */
section.catalog{
    padding: 15px;
    background: #fff;
}
.catalog-categories-list{

}
.catalog-categories-list .button{
    /*font-weight: bold;*/
    letter-spacing: 1px;
}
.catalog-categories-list .buttons{
    margin-bottom: 15px;
}
.catalog-categories-list ul{
    padding: 0px;
    list-style: none;
}
.catalog-categories-list ul > li{
    font-size: 14px;
    line-height: 1.2em;
    position: relative;
    color: #4f4f4f;
}
.catalog-categories-list ul > li a{
    color: inherit;
}
.catalog-categories-list ul > li label{
    display: block;
    position: relative;
    padding: 8px 12px 8px 40px;
}
.catalog-categories-list ul .list-item__arrow{
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    margin: -6px 14px 12px 14px;
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
    fill: #4f4f4f;
}
.catalog-categories-list ul > li:hover{
    color: #d2383b;
    cursor: pointer;
}
.catalog-categories-list ul > li:hover .list-item__arrow{
    fill: #d2383b;
}
.catalog-categories-list ul > li > ul{
    padding: 10px;
    display: none;
    background: #f4f4f4;
}
.catalog-categories-list ul > li > ul .loading{
    color: #000 !important;
    text-align: center;
}
.catalog-categories-list ul > li > ul > li{
    color: #000;
}
.catalog-categories-list ul > li > ul > li a{
    display: block;
    font-weight: bold;
    padding: 5px 12px 5px 32px;
}

.catalog-categories-list .list-item--active{
    font-weight: bold;
}
.catalog-categories-list .list-item--active ul{
    display: block;
}
.catalog-categories-list .list-item--active label{
    color: #d2383b;
}
.catalog-categories-list .list-item--active label a{
    font-weight: bold;
}
.catalog-categories-list .list-item--active .list-item__arrow{
    fill: #d2383b;
}
.catalog-categories-list .list-item--selected{
    color: #d2383b;
}
.catalog-categories-list .list-item__counter{
    color: #ccc;
    font-weight: normal;
    margin-left: 4px;
}
.catalog-header__title{
    display: block;
    margin: 0 0px 0 10px;
    font-family: 'PT Sans',sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2em;
    color: #333;
}
.catalog-categories-list .list-item__counter:before{
    content: '(';
    position: relative;
}
.catalog-categories-list .list-item__counter:after{
    content: ')';
    position: relative;
}
.catalog-types{
    margin-top: 0px;
}
.catalog-types a.button{
    color: #333;
    padding: 18px;
    font-size: 20px;
    background: #fff;
    margin-left: 10px;
    line-height: 1.2em;
    position: relative;
    transition: all .2s ease;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
}
.catalog-types .button i{
    margin-right: 10px;
}
.catalog-types .button sup{
    color: #d2383b;
    font-size: 14px;
    font-weight: bold;
}
.catalog-types .button span{
    position: relative;
}
.catalog-types .button .marker-hit{
    bottom: 20%;
    color: #d2383b;
    font-size: 14px;
    font-weight: bold;
    margin-left: 3px;
    position: absolute;
    font-style: normal;
    letter-spacing: 1px;
}
.catalog-types .button:hover{
    background: #f4f4f4;
    position: relative;
    color: #000;
}
.catalog-types .button:first-child{
    margin-left: 0px;
}
.catalog-designer{

}
.catalog-designer .avatar-circle{
    /*overflow: hidden;*/
    /*margin: 15px;*/
}
.catalog-designer .avatar-circle img{
    width: 100%;
    display: block;
}
.catalog-designer__name{
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.catalog-designer__description{
    padding: 10px;
    background: #f4f4f4;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
}
@media screen and (max-width: 1201px){

}
@media screen and (max-width: 1025px){
    
}
@media screen and (max-width: 769px){
    .catalog-types a.button{
        font-size: 16px;
    }
    .catalog-types a.button span{
        margin-right: 21px;
    }
}
@media screen and (max-width: 641px){
    .catalog-types{
        display: block !important;
    }
    .catalog-types a.button{
        width: calc( 100% - 20px );
        margin: 10px 10px 0px !important;
    }
    .catalog-types a.button i{
        float: left;
    }
    .catalog-types a.button span{

    }
}
@media screen and (max-width: 481px){

}
/* CATALOG END */

/* LIST SORT */
.sort-bar{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
.sort-bar .spacer{
    flex: 1;
}
.filter-list {
    display: block;
    margin: 0;
    padding: 0;
    /*width: 100%;*/
    height: 43px;
    font-size: 0;
    line-height: 0;
}

.filter-item {
    position: relative;
    display: inline-block;
    margin: 0 10px;
    width: 200px;
    height: 100%;
    vertical-align: top;
}

.filter-item:first-child {
    margin-left: 0;
}

.filter-item:last-child {
    margin-right: 0;
}

.filter-link {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 32px 5px 56px;
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 3px;
    font-size: 14px;
    line-height: 1.2em;
    color: #d2383b;
    text-align: left;
    cursor: pointer;
}

.filter-link--sale {
    padding: 5px 81px 5px 56px;
}

.filter-input {
    display: none;
}

.filter-sale {
    position: absolute;
    display: block;
    top: 50%;
    right: 36px;
    width: 40px;
    font-size: 10px;
    line-height: 1.2em;
    border-radius: 3px;
    background: #FF0037;
    padding: 6px 0;
    color: #fff;
    text-align: center;
    margin: -12px 0;
}

.filter-arrow {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    margin: -6px 14px 0 14px;
    width: 12px;
    height: 12px;
    transform: rotate(90deg);
    fill: #333333;
}

.filter-icon {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 6px 14px;
    width: 32px;
    height: 32px;
    fill: #E0E0E0;
}

.filter-link:hover, .filter-link--selected, .filter-input:checked + .filter-link {
    border-color: #d2383b;
}

.filter-link--selected .filter-arrow, .filter-link:hover .filter-arrow, .filter-input:checked + .filter-link .filter-arrow {
    fill: #d2383b;
}

.filter-link--selected .filter-icon, .filter-link:hover .filter-icon, .filter-input:checked + .filter-link .filter-icon {
    fill: #0054A6;
}

.filter-item--type {
    width: 210px;
}

.filter-item--sort .filter-link {
    padding: 5px 32px 5px 20px;
}

.filter-item--sort .filter-icon {
    display: none;
}

.filter-menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    display: none;
    top: 100%;
    left: 50%;
    padding: 0;
    margin: -5px 0 0 0;
    width: 180px;
    margin-left: -90px;
    z-index: 10;
    text-align: left;
}

.filter-menu-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 10px;
    margin: 20px 0;
    border-radius: 3px;
    background: #fff;
    -webkit-box-shadow: 0 4px 64px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 4px 64px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 64px rgba(0, 0, 0, .15);

}
.filter-item-type .filter-menu-content {
    border: 1px solid #FF5927;
}

.filter-menu-corner {
    position: absolute;
    display: block;
    left: 50%;
    bottom: 100%;
    margin: 0 0 -1px -12px;
    width: 24px;
}
.filter-menu-seasons-winter {
    height: 60px;
    margin: -10px -10px 0 -10px;
    background: url(/public/images/seasons/topchik-winter.jpg) 50% 50% no-repeat #FF5927;
}
.filter-menu-link.filter-menu-link--seasons-winter,.filter-menu-link.filter-menu-link--seasons-winter  .filter-menu-quantity {
    color: #FF5927;
}
.filter-menu-link--seasons-winter svg {
    fill:#FF5927;
}
.filter-menu-season-sale {
    display: none;
}


.filter-menu--type {
    width: 438px;
    margin-left: -198px;
}

@media screen and (min-width: 900.1px) {
    .filter-item:hover > .filter-menu {
        display: block;
    }
    .filter-item:hover > .filter-link .filter-arrow {
        transform: scale(1, -1) rotate(90deg);
    }

}
@media screen and (max-width: 900px) {
    .filter-input:checked + .filter-link + .filter-menu {
        display: block;
    }
    .filter-input:checked + .filter-link .filter-arrow {
        transform: scale(1, -1) rotate(90deg);
    }

}

.filter-menu-list {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
}

.filter-menu-item {
    display: inline-block;
    margin: 0;
    width: 100%;
    height: 48px;
    font-size: 14px;
    line-height: 1.2em;
    vertical-align: top;
}

.filter-menu-type .filter-menu-item {
    margin: 0 3px;
    width: 205px;
    height: 48px;
}

.filter-menu-type .filter-menu-item:nth-child(odd) {
    margin-left: 0;
}

.filter-menu-type .filter-menu-item:nth-child(even) {
    margin-right: 0;
}

.filter-menu-link {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 5px 5px 5px 52px;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    font-size: 14px;
    line-height: .8em;
    color: #4F4F4F !important;
    cursor: pointer;
    text-align: left;
}
.filter-menu-type .filter-menu-link .filter-menu-link-caption {
    max-width: 60px;
    display: inline-block;
}

.filter-menu-link--sale {
    padding: 5px 53px 5px 56px;
}

.filter-menu-quantity {
    display: block;
    font-size: 10px;
    line-height: 1.2em;
    color: #828282;
}

.filter-menu-link:not(.filter_menu_link--disabled):hover, .filter-menu-link--selected {
    background: rgb(244, 244, 244);
}

.filter-menu-link--selected, .filter-menu-link--disabled {
    cursor: default;
}

.filter-menu-link--disabled, .filter-menu-link--disabled .filter-menu-quantity {
    color: #E0E0E0;
}

.filter-menu-sale {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: 48px;
    font-size: 10px;
    line-height: 1.2em;
    border-radius: 3px;
    background: #FF0037;
    padding: 6px 0;
    color: #fff;
    text-align: center;
    margin: -12px 0;
}
.filter-menu-sale.filter-menu-sale-hit {
    position: absolute;
    display: block;
    top: 50%;
    right: -4px;
    width: 44px;
    font-size: 12px;
    border-radius: 3px;
    background: #FF5927;
    padding: 6px 0;
    color: #fff;
    margin: -13px -0;
    line-height: 10px;
    padding-left: 22px;
    text-align: left;
}
.filter-menu-sale.filter-menu-sale-hit span {
    position: absolute;
    top: -4px;
    left: -24px;
    height: 40px;
    width: 40px;
    background: #0054A6;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.filter-menu-icon {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 8px 10px;
    width: 32px;
    height: 32px;
    fill: #828282;
    pointer-events: none;
}

.filter-menu-link--disabled .filter-menu-icon {
    fill: #E0E0E0;
}

.filter-menu--sort .filter-menu-link {
    padding: 5px 14px 5px 14px;
}

.filter-menu--sort .filter-menu-icon {
    display: none;
}
@media screen and (max-width: 900px){
    .sort-bar .spacer{
        display: none;
    }

    .filter-list{
        flex: 1;
        width: 100%;
        height: auto;
    }

    .filter-item {
        display: block;
        width: auto;
        margin: 0;
        height: auto;
    }

    .filter-icon {
        margin: 11px 14px;
    }

    .filter-link, .filter-item--sort .filter-link {
        border: none;
        padding: 20px 30px 20px 20px;
    }

    .filter-sale {
        display: none;
    }

    .filter-menu-corner {
        display: none;
    }

    .filter-menu-content {
        background: #F2F2F2;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        border: 0;
    }
    .filter-menu--type .filter-menu-content {
        border: 0;
    }
    .filter-menu-season-sale {
        color: #fff;
        background: #FF5927;
        border-radius: 30px;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        margin-top: 4px;
        display: inline-block;
    }
    .filter-menu-seasons-winter {
        margin: 0;
    }

    .filter-menu-item, .filter-menu--type .filter-menu-item {
        width: 160px;
        margin: 0;
    }

    .filter-menu--sort .filter-menu-item {
        display: block;
        width: auto;
    }

    .filter-menu-link, .filter-menu-link--sale, .filter-menu--sort .filter-menu-link {
        /*padding: 5px 5px 5px 56px;*/
    }

    .filter-menu-quantity, .filter-menu-sale,.filter-menu-sale.filter-menu-sale-hit {
        display: none;
    }

    .filter-menu {
        position: relative;
        width: 100%;
        top: unset;
        left: unset;
        margin: 0;
        padding: 0;
    }

    .filter-menu-list {
        border-top: 1px solid #E0E0E0;
        border-bottom: 1px solid #E0E0E0;
    }

    .filter-item--sex .filter-menu-list {
        width: 320px;
        margin: 0 auto;
    }

    .filter-menu-list {
        text-align: center;
        padding: 10px 0;
    }

    .filter-menu-icon {
        display: block !important;
    }

    .filter-menu-link--selected {
        color: #0054A6;
        background: none;
    }

    .filter-menu-link--selected .filter-menu-icon {
        fill: #0054A6;
    }

    .filter-input:checked + .filter-link + .filter-menu {
        display: block;
    }
}
/* LIST SORT END */

.sidebar{
    width: calc( 20% - 15px );
}
/*.thumbs{
    width: 80%;
}*/
@media screen and (max-width: 1025px){
    .product-page .sidebar{
        width: calc( 34% - 10px );
    }
    .product-page .thumbs{
        width: 66%;
    }
}

.page-title{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.page-title-inner{
    margin-top: 0px;
    margin-bottom: 0px;
}
.page-title .spacer{
    flex: 1;
}
.page-title .button{
    
}

.send-comment-form.form-loading{

}
.send-comment-form.form-loading .send-button{
    border: none;
    background: none !important;
    font-family: FontAwesome !important;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.send-comment-form.form-loading .send-button:before {
    content: "\f110" !important;
    font-family: FontAwesome !important;
}
.send-comment-result{
    display: none;
    margin: 8px 0px;
    padding: 7px 16px 8px;
    background: #D2383B;
    color: #fff;
}

.store-tiles{
	height: 500px;
	display: flex;
	position: relative;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.15);
}
.store-tiles-col{
	width: 50%;
	display: flex;
	max-width: 50%;
	flex-wrap: wrap;
}
.store-tiles .store-tile{
	width: 50%;
	height: 50%;
	padding: 10px;
	display: flex;
	margin-top: 0px;
    overflow: hidden;
    position: relative;
	text-align: center;
	align-items: center;
    box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	transition: all .5s ease;
}
.store-tiles .store-tile:not(.tile-disabled):hover{
	background: #f1e67f;
}
.store-tiles .store-tile .tile-text{
    color: #262626;
	max-width: 100%;
	font-size: 13px;
	margin: 10px 10px 0px;
	font-weight: bold;
	line-height: 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all .5s ease;
	text-transform: uppercase;
}
.store-tiles .store-tile:not(.tile-disabled):hover .tile-text{
	color: #000;
	/*margin-top: 0px;*/
}
.store-tiles .store-tile .tile-image{
	flex: 1;
	width: 100%;
	overflow: hidden;
	position: relative;
	text-align: center;
}
.store-tiles .store-tile .tile-image img{
	top: 50%;
	max-width: 300px;
	max-height: 100%;
	position: relative;
	display: inline-block;
	transform: translateY(-50%);
}
.store-tiles .store-tile.tile-disabled:before{
    top: -10px;
    left: -10px;
    z-index: 5;
    content: '';
    cursor: default;
    position: absolute;
    width: calc( 100% + 20px );
    height: calc( 100% + 50px );
    background: rgba(50, 50, 50, .3);
}
.store-tiles .store-tile.tile-disabled:after{
    top: 50%;
    left: 50%;
    width: 100%;
    z-index: 6;
    color: #fff;
    padding: 10px;
    min-width: 70px;
    content: 'Скоро';
    position: absolute;
    transform: translate(-50%, -50%);
    background: #97a1ab;
}
.store-tiles .store-tile.big-tile{
	width: 100%;
	height: 100%;
}
.store-tiles .store-tile.big-tile .tile-text{
	font-size: 16px;
	line-height: 50px;
}
.store-tiles .store-tile.tile-buttons{
    padding: 5px;
}
.store-tiles .store-tile.tile-buttons:hover{
    background: #fff;
}
.store-tiles .store-tile .tile-buttons-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.store-tiles .store-tile.tile-buttons .button{
    flex: 1;
    margin: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: calc( 100% - 10px );
}

.store-seperator{
	width: 100%;
    height: 0px;
	margin: 15px 0px;
	text-align: center;
}
.store-seperator.a span{
	width: 8px;
	height: 8px;
	margin: 4px;
	background: #222;
	border-radius: 8px;
	display: inline-block;
}


.store-advant-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 35px 0px;
    justify-content: space-around;
}
.store-advant-item{
    flex: 1;
    width: 25%;
    display: flex;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 15px 15px;
}
.store-advant-item__icon{
    font-size: 72px;
}
.store-advant-item__title{
    padding: 8px 0px;
    font-weight: bold;
}
.store-advant-item__desc{
    font-size: 14px;
    max-width: 320px;
}
@media screen and (max-width: 968px){
    .store-advant-item{
        min-width: 50%;
    }
}
@media screen and (max-width: 520px){
    .store-advant-item{
        min-width: 100%;
    }
}

/* PAGINATION START */
.pagination{

}
.pagination-toggler{
    width: 43px;
    height: 43px;
    line-height: 43px;
    white-space: nowrap;
    text-align: center;
    margin: 8px -2px;
    display: inline-block;
    border-radius: 16px;
    cursor: pointer;
    transition: all .2s ease;
}
.pagination-toggler a{
    display: block;
    color: inherit;
}
.pagination-toggler--active {
    box-shadow: 0 2px 32px rgba(0, 0, 0, .15);
    background: #d2383b;
    color: #fff;
    position: relative;
    z-index: 2;
}
.pagination-toggler:hover:not(.pagination-toggler--separator) {
    color: #333;
    background: #f4f4f4;
}
/* PAGINATION END */



.store-products{
    margin-left: -10px;
    position: relative;
}
.store-products:after{
    content: '';
    display: table;
    position: relative;
    clear: both;
}
.catalog-layout .sidebar{
    width: calc( 20% - 15px );
}
.catalog-layout .store-products-holder{
    width: 80%;
    float: right;
}
.store-products-header{
    height: 43px;
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    flex-direction: row-reverse;
}
.store-products-footer{
    display: flex;
    margin-top: 15px;
}
.store-products-footer .spacer,
.store-products-header .spacer{
    flex: 1;
}
.store-item{
    float: left;
    z-index: 2;
    text-align: center;
    background: #fff;
    margin-left: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	width: calc( 20% - 10px );
	/*height: 250px;*/
	display: flex !important;
	margin-top: 0px !important;
	position: relative;
	flex-direction: column;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.store-item:hover{
    z-index: 3;
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2);
}
.catalog-layout .store-item{
    width: calc( 25% - 10px );
}
.store-item-thumb{
	flex: 1;
	width: 100%;
	padding: 12px;
	position: relative;
    box-sizing: border-box;
}
.store-item-thumb img{
    top: 0px;
    left: 0px;
    margin: 12px;
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
    width: calc( 100% - 24px );
}
.store-item-thumb .store-item-discount{
	right: 8px;
	bottom: 8px;
	color: #fff;
	font-size: 12.5px;
	position: absolute;
    padding: 5px 10px 6px;
}
.store-item span.store-item-cat{
	color: #555;
	display: block;
	padding: 0px 14px 8px;
	font-size: 10px !important;
	text-transform: uppercase;
}
.store-item-title{
	color: #5d5252;
	font-size: 1em;
	font-weight: bold;
	margin: 5px 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.store-item-title:first-letter{
	color: #D2383B;
}
.store-item-info{
	overflow: hidden;
	padding: 0px 12px;
	line-height: 30px;
}
.store-item-info .buy-button{
	float: left;
}
.store-item-info .buy-button i{
	margin-right: 9px;
	display: inline-block;
}
.store-item-info .store-item-price{
	/*float: right;*/
	font-size: 16px;
}
.product-page-options .form_result{
	font-weight: bold;
    color: #D2383B;
    text-align: center;
    padding-right: 43px;
}
.store-item-price i{
	color: #D2383B;
    font-size: 0.85em;
}
.store-item-price span{
    float: none !important;
	position: relative;
	margin-right: 3px;
	display: inline-block;
}
.store-item-price .button:hover{
    color: #fff;
    cursor: default;
    background: #d2383b;
}
.store-item-price span.price{
	color: #333;
	margin-right: 12px;
}
.store-item-price span.price:after{
	top: 50%;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	margin-top: -1px;
	background: #333;
	position: absolute;
	transform: rotate(-30deg);
}
.store-item-price span.dis-price{
	color: #D2383B;
	font-weight: bold;
}

.store-categories{
    margin-left: -10px;
    position: relative;
}
.store-categories:after{
    content: '';
    display: table;
    position: relative;
    clear: both;
}
.store-categories-item{
    float: left;
    z-index: 2;
    text-align: center;
    background: #fff;
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc( 25% - 10px );
    display: flex !important;
    margin-top: 0px !important;
    position: relative;
    flex-direction: column;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.store-categories-item__cover{
    position: relative;
    padding-bottom: 56.25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.store-categories-item__cover img{
    top: 50%;
    left: 50%;
    max-height: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.store-categories-item__title{
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    padding: 35px 12px 9px;
    background-image: url(/images/category_shadow.png);
}
.store-categories-item__title span{

}

@media screen and (max-width: 1200px){
    .catalog-layout .sidebar{
        width: calc( 25% - 15px );
    }
    .catalog-layout .store-products-holder{
        width: 75%;
    }
    .catalog-layout .store-item{
        width: calc( 33.333333333% - 10px );
    }
    .store-item{
        width: calc( 25% - 10px );
    }
}
@media screen and (max-width: 900px){
    .store-item{
        width: calc( 33.3333333% - 10px );
    }
    .catalog-layout .store-products-holder{
        width: 100%;
    }
    .store-products-footer .spacer,
    .store-products-header .spacer{
        display: none;
    }
    .store-products-header{
        height: auto;
        display: block;
    }
    .catalog-header__title{
        margin-top: 10px;
        text-align: center;
    }
}
@media screen and (max-width: 640px){
    .store-products-footer{
        justify-content: center;
    }
    .store-item{
        width: calc( 50% - 10px );
    }
}
@media screen and (max-width: 639px){
    .catalog-layout .store-item{
        width: calc( 50% - 10px );
    }
    .pagination-toggler{
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
}
@media screen and (max-width: 419px){
    .store-item{
        width: calc( 100% - 10px );
    }
    .catalog-layout .store-item{
        width: calc( 100% - 10px );
    }
}


/* PRODUCT PAGE START */
.product-page{
	padding-top: 0px !important;
}
.product-page-main{
	
}
.product-page-info{
	margin-top: 20px;
}
.product-page-info-inner{
	height: 100%;
	flex-direction: column;
}
.product-page-info .spacer{
	flex: 1;
}
.product-page-title{
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}
.product-page-title:first-letter{
    color: inherit !important;
}
.product-page-params{
    display: flex;
    margin-top: 12px;
    font-size: 13px;
    text-transform: uppercase;
}
.product-page-params a{
    font-weight: bold;
}
.product-page-params span{
    color: #777;
}
.product-page-params .spacer{
    flex: 1;
}
.product-page-image-container{
    overflow: hidden;
    position: relative;
}
.product-page-image-container button{
    z-index: 3;
}
.product-page-image{
    padding: 15px;
    position: relative;
	margin-top: 0px !important;
	display: block !important;
	text-align: center;
    transition: 0.6s;
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.product-page-image img{
    top: 0;
    left: 0;
    margin: 15px;
    width: calc( 100% - 30px );
	max-width: 100%;
    position: absolute;
}
button.product-image-flip.md-icon:not(.not-button){
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    font-size: 40px;
    position: absolute;
}
.product-page-options{
	margin-top: 20px;
}
.product-page .buy-button{
    line-height: 46px;
}

.product-page-additional-images{
	width: 100%;
	display: flex;
}
.product-page .additional-thumb{
	padding: 10px;
	display: block !important; 
	margin-top: 0px !important;
	min-height: auto !important;
	width: 33.33333333% !important;
}
.product-page .additional-thumb img{
	height: auto;
	max-width: 100%;
}

.product-page .store-item-price{
	display: flex;
	line-height: 1;
	font-size: 20px;
	font-weight: bold;
	align-items: center;
}
.product-page .store-item-price span{

}
.product-page .store-item-price .spacer{
	flex: 1;
}
.product-page .store-item-price__description{
    padding: 7px 16px 8px;
    margin-top: 10px;
    background: #D2383B;
    color: #fff;
}
.product-page-tabs{
    margin-top: -4px;
}
.product-page-tabs section{
    display: none;
}

.option-row{
	margin-bottom: 10px;

    position: relative;
    margin-right: -6px;
}
.option-about{
    cursor: pointer;
    color: #D2383B;
    display: block;
    margin-top: 5px;
    text-align: center;
}
.option-variants-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: space-between;
    justify-content: flex-start;
}
.option-variant{
    /*flex: 1;*/
}
.option-variant input[type="radio"] {display: none;}
.option-variant input[type="radio"] + label{
	float: left;
	cursor: pointer;
	min-width: 38px;
	background: #fff;
	text-align: center;
	display: inline-block;
	margin: 0px 6px 6px 0px;
    transition: all .2s ease;
	border: 2px solid transparent;

    
}
.option-variant input[type="radio"] + label span{
    display: block;
    padding: 5px 6px;
    border-bottom: 1px solid #E7E7E7;
}
.option-variant input[type="radio"] + label span:last-child{
    border: none;
}
.option-variant input[type="radio"]:hover + label{
	background: #FAFAFA;
}
.option-variant input[type="radio"]:checked + label{
    color: #D2383B;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.15);
}

.option-row__cloth{
    margin-right: 0px;
    justify-content: space-between;
}
.option-row__cloth .row-title{
    display: none;
}
.option-row__cloth .option-variant{
    flex: 1;
}
.option-row__cloth .option-variant label{
    width: calc( 100% - 6px );
}
.option-row__cloth .option-variant input[type="radio"] + label span{
    color: #D2383B;
    font-weight: bold;
}
.option-row__cloth .option-variant input[type="radio"] + label span:last-child{
    color: #4A4A4A;
    font-weight: 100;
}

.option-row__color{

}
.option-row__color .option-variant input[type="radio"] + label{
    font-size: 0;
    min-height: 38px;
    border-color: #fff;
}

.row-title{
	display: block;
	font-weight: bold;
	margin-bottom: 10px;
}

.count-row{
	display: flex;
    margin-right: 0px;
}
.count-row input{
	flex: 1;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.count-row .count-button{
	width: 37px;
	height: 37px;
	cursor: pointer;
	font-weight: bold;
	background: #fff;
	line-height: 37px;
	text-align: center;
	display: inline-block;
	border-bottom: 1px solid #d8d8d8;
}

.actions-row{
	padding: 0px;
	display: flex;
	margin-top: 25px;
    margin-right: 0px;
}
.actions-row .fav-button{
	width: 48px;
    color: #C03336;
    border: none;
    cursor: pointer;
    background: none;
	text-align: center;
}
.actions-row .fav-button i{
	font-size: 24px;
    line-height: 48px;
}

.thumb.cart-item{
    padding: 0px;
    display: block !important;
}
.cart-item-inner{
	width: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 20px;
}
.cart-item-image{
	max-width: 100px;
}
.cart-item-image img{
	width: 100px;
}
.cart-item-info{
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 0px 0 20px;
}
.cart-item-info-inner{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 8px 0;
    height: 40px;
}
.cart-item-info-title{
	display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2em;
    font-style: normal;
    color: #333;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    width: auto;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.thumb .cart-item-info-title span{
	width: 100%;
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.2em;
    color: #BDBDBD;
}
.cart-item-info-attributes{
    height: 100%;
    display: flex;
}
.cart-item-info-size,
.cart-item-info-cloth{
    display: block;
    height: 100%;
    margin: 0 10px;
}
.cart-item-info-size select{
	width: 92px;
}
.cart-item-price{
    display: block;
    width: 70px;
}
.thumb .cart-item-price span{
	float: none;
	display: block;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.2em;
    font-style: normal;
    color: #D90000;
    text-align: right;
}
.thumb span.price-was{
    font-size: 16px;
    line-height: 1.2em;
    color: #000;
    text-decoration: line-through;
}

.cart-total{
	font-size: 14px;
	margin: 20px 15px 15px;
}
.cart-total .price{
    font-size: 37px;
    margin: 0 12px 0 0;
    line-height: 55px;
}
.cart-total .price span{
	margin-right: 3px;
}
.cart-total .price-text{
	width: 230px;
    color: #a0a0a0;
    margin: 0px 0;
}

.promo-form{
    display: flex;
}
.promo-form .field{
    display: inline-block; 
    width: auto; 
    flex: 1; 
    padding: 7px 16px 8px; 
    border: none;
}
.promo-form.error .field{
    background: #f3cfd0;
}
.promo-form .button{
    display: inline-block; 
    width: auto;
}
.promo-text{
    display: none;
    padding: 7px 16px 8px;
    margin-bottom: 8px;
    background: #D2383B;
    color: #fff;
}

.rub2 {
    display: inline-block;
    vertical-align: top;
    width: .75em;
    position: relative;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.rub2:after {
    content: '\20bd';
    content: "P";
    position: absolute;
    right: 0;
    text-indent: 0;
}

.questions-list{
    margin-top: 30px;
    margin-bottom: 30px;
}
.questions-block{
    font-size: 16px;
    overflow: hidden;
    transition: all .2s ease;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.questions-block:hover,
.questions-block.collapsed{
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.2);
}
.questions-block__header{
    padding: 24px;
    cursor: pointer;
    font-weight: bold;
}
.questions-block__body{
    height: 0px;
    transition: all .2s ease;
}
.questions-block__body > div{
    padding: 24px;
}
.questions-block.collapsed .questions-block__body{
    height: auto;
}
.questions-block__body ol,
.questions-block__body ul{
    margin: 0px;
    padding-left: 20px;
}

@media screen and (max-width: 1020px){
	.thumbs,
	.sidebar{
		width: 100% !important;
	}
	.sidebar{
		padding-left: 9px;
		padding-right: 9px;
	}
    .option-row__size .option-variants-list .option-variant input[type="radio"] + label{
        border-left-width: 0px;
        border-right-width: 0px;
    }

    .store-categories-item{
        width: calc( 50% - 10px );
    }
}
@media screen and (max-width: 800px){
	.store-tiles{
		height: 350px;
	}
	.store-tiles .store-tile .tile-text{
		font-size: 11px;
	}
}
@media screen and (max-width: 640px){
	.store-tiles{
		height: auto;
		display: block;
	}
	.store-tiles-col{
		width: 100%;
		max-width: 100%;
	}
	.store-tiles .store-tile .tile-image img{
		max-width: 120px;
		transform: none;
	}
	.store-tiles .store-tile.big-tile .tile-image img{
		max-width: 200px;
	}
	.store-tiles .store-tile .tile-text{
		font-size: 13px;
	}


    .cart-item-image img{
        width: 75px;
    }
    .cart-item-info{
        margin: 0px 10px;
    }
    .cart-item-info-attributes{
        height: auto;
        display: block;
    }
    .cart-item-info-size,
    .cart-item-info-cloth{
        width: 100%;
        margin: 0px;
        padding: 5px 0px;
    }
}
@media screen and (max-width: 480px){
    .banner{
        /*margin-left: -8px;*/
        /*width: calc( 100% + 16px );*/
        /*max-width: calc( 100% + 16px );*/
    }
}
@media screen and (max-width: 381px){
	.store-tiles .store-tile .tile-image img{
		max-width: 90px;
		transform: none;
	}
	.store-tiles .store-tile.big-tile .tile-image img{
		max-width: 160px;
	}
	.store-tiles .store-tile .tile-text{
		font-size: 10px;
	}
    .store-tiles .store-tile.tile-buttons{
        padding: 3px;
    }
    .store-tiles .store-tile.tile-buttons .button{
        margin: 3px;
    }

    .cart-item-info{

    }
    .cart-item-info-inner{
        flex: 1;
        width: 100%;
        height: auto;
        display: block;
    }
    .cart-item-info-size select{
        width: 100%;
    }
    .cart-item-info-title{
        margin-bottom: 8px;
    }
}