<form method="post">
    <div class="thumb padding partner-agreement">
        <div class="partner-agreement_rules" style="height: auto;">
            <p>Вам необходимо нажать кнопку "Согласен" для того, что стать дизайнером и иметь возможно добавлять свои товары на сайт PrintBand.</p>
        </div>
    </div>
    <div class="buttons-group">
        <button type="submit" name="submit" value="1" class="button gray big full_width">Согласен</button>
    </div>
</form>