{strip}
    {assign var="required_star" value="<span class='required'>*</span>"}
    {assign var="i" value='0'}
    {nocache}
        <div class="container_">
            {include file="sys/messages.tpl"}
            <form {foreach from=$form_attributes key=var item=value}{$var}="{$value}"{/foreach}>
                {csrf}
                <div class="col-lg-8 col-md-7">
                    <div class="card">
                        <div class="card-body">
                            {*<div class="card-title">
                                <h6>{$pageTextTitle}</h6>
                            </div>*}
                            {if $action ne 'add'}
                                <input id="item_id" type="hidden" name="id" value="{$nId}"/>
                            {else}
                                <input type="hidden" name="change_pwd" value="1"/>
                            {/if}
                            <!--
                            {if $action ne 'add'}
                                <div class="form-group">
                                    <div class="col-lg-2 col-sm-2 control-label">
                                        ID :
                                    </div>
                                    <div class="col-sm-6 infofield">
                                        <p class="form-control-static">{$nId}</p>
                                    </div>
                                </div>
                            {/if}
                            -->
                            {$num = 0}
                            {foreach from=$aFields key="num" item="fields" }
                                {if (!isset($tabs.$num))}{continue}{/if}
                                <section class="tab-content {if $num == 0}current{/if}" id="{$tabs.$num.id}">
                                    <div class="form-group row">
                                        <div class="col-lg-4 col-sm-4 control-label"></div>
                                        <div class="col-sm-6 infofield">
                                            <p class="form-control-static">{$required_star} {translate code="form_required_fields" text="Обязательные поля"}</p>
                                        </div>
                                    </div>
                                    {foreach from=$fields key="field_key" item="field" }
                                        {if (!$field.form_show)}{continue}{/if}
                                        {$i = $i + 1}
                                        {if !empty($field.custom_field_template)}
                                            {assign var=path value=$field.custom_field_template}
                                            {include file="custom/$path.tpl" field=$field aData=$aData i=$i}
                                        {else}
                                            {include file='admin/default_form_row.tpl' field=$field aData=$aData i=$i}
                                        {/if}
                                    {/foreach}
                                    {if isset($hooks.{$tabs.$num.id})}
                                        {foreach from=$hooks.{$tabs.$num.id} key=key item=hook}
                                            {include file="default/{$hook}.tpl"}
                                        {/foreach}
                                    {/if}
                                </section>
                            {/foreach}
                            {if $tabs}
                                </div>
                            {/if}
                    </div>

                    {if isset($hooks.after_form)}
                        {foreach from=$hooks.after_form key=key item=hook}
                            {include file="default/{$hook}.tpl" aFields=$aFields aData=$aData}
                        {/foreach}
                    {/if}
                </div>

                <div class="col-lg-4 col-md-5">
                    {if $tabs}
                        <div class="card tabs">
                            <div class="card-body">
                                {foreach from=$tabs key=i item=tab}
                                    <div role="tab" id="{$tab.id}" href="#{$tab.id}" aria-controls="{$tab.id}" class="body-nest tab {if $i == 0}current{/if}">{$tab.title}</div>
                                {/foreach}
                            </div>
                        </div>
                    {/if}
                    
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title">
                                <h6>Действия</h6>
                            </div>
                                {if isset($aFields.sidebar)}
                                    {foreach from=$aFields.sidebar key="field_key" item="field" }
                                        {$i = $i + 1}
                                        {include file='admin/default_form_row.tpl' field=$field aData=$aData i=$i}
                                    {/foreach}
                                {/if}
                            <div class="row">
                                <div class="col-6" style="padding-right: 0px;">
                                    <button type="submit" name="submit" value="1" class="btn btn-success">
                                        <i class="ft-save" style="margin-right: 0"></i>{*<span>{translate code="form_save" text="Сохранить"}</span>*}
                                    </button>
                                    {*<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><button name="submit_exit" class="btn btn-default" value="1" type="submit">{translate code="form_save_exit" text="Сохранить и выйти"}</button></li>
                                        <li><button name="submit_next" class="btn btn-default" value="1" type="submit">{translate code="form_save_next" text="Сохранить и далее"}</button></li>
                                    </ul>*}
                                </div>

                                <div class="col-6" style="padding-right: 0px;">
                                    <a class="btn btn-danger pull-right" href="{$aConf.base_url}{$aConf.active_module}">
                                        <span>{translate code="form_cancel" text="Отмена"}</span>
                                    </a>    
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    {if isset($hooks.after_sidebar)}
                        {foreach from=$hooks.after_sidebar key=key item=hook}
                            {include file="default/{$hook}.tpl"}
                        {/foreach}
                    {/if}
                </div>
            </form>
        </div>
    {/nocache}
    <script type="text/javascript">
        {literal}

        function fields_remove_image(el, id, field_name) {
            $.ajax({
                type: 'POST',
                url: '{/literal}{$aConf.base_url}{$aConf.active_module}/remove_file/{literal}' + id + '/' + field_name,
                dataType: 'json',
                success: function (data) {
                    $(el).parent('.image_holder').hide();
                },
                data: {'ajax': 1},
                async: false
            });
        }
        $(document).on('click', '.tabs .tab', function(e){
            e.preventDefault();

            var id = $(this).attr('aria-controls'),
                tabs = $(this).parents('.tabs');
            
            tabs.find('.current').removeClass('current');
            $(this).addClass('current');

            $(".content.tab-content.current").removeClass('current');
            $(".content.tab-content#"+id).addClass('current');
        })
        {/literal}
    </script>
{/strip}