<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN"
 "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
<svg version="1.0" xmlns="http://www.w3.org/2000/svg"
 width="640.000000px" height="640.000000px" viewBox="0 0 640.000000 640.000000"
 preserveAspectRatio="xMidYMid meet">
{literal}
<style type="text/css">
    .st0{opacity:0.52;fill:#E4E4E4;fill-opacity:0;enable-background:new    ;}
    .st1{fill:{/literal}{$colors.color0}{literal};}
    .st2{fill:#FFFFFF;opacity:0.01}
    .st3{fill:#000000;opacity:0.04}
    .st4{fill:#000000;fill-opacity:0.04;}
    .st5{fill:#000000;opacity:0}
</style>
<g id="layer1" transform="translate(0,-127.66665)">
    <g id="g841" transform="matrix(0.24773418,0,0,0.24773418,-0.29592814,138.24665)">
        <g id="layer1-7" transform="translate(0,343)">
                <rect id="rect1102" x="87.3" y="-299.6" class="st0" width="2411.1" height="2411.1">
            </rect>
            
                <path id="path886" class="st1" d="
                M701.6,1319.7l0.5-115.7l12.9-50.2c20.8-81,20.1-171.7-2.2-306.7c-12.5-75.4-17.9-123-20-174.8c-1.6-40.6-3.3-52.8-7-51.4
                c-24.4,9.2-76.2,5.2-119.9-9.4c-12.9-4.3-52.6-22.2-88.4-39.9c-35.8-17.6-77.3-36.9-92.3-42.7c-15-5.9-29.5-12.4-32.2-14.5
                c-9.5-7.6-5.2-37,12.8-86.9c38.9-107.9,40.6-114.2,56.7-211.2c13.9-83.8,17.7-100.7,30.7-135.1C472.4,30.4,493-2.1,528.5-37.5
                c18.9-18.8,34.3-35.6,34.3-37.4c0-8.3,62.4-40.6,108.4-56.1c27.4-9.2,78.7-27.5,114.2-40.6c35.4-13.1,90.2-32.4,121.6-42.8
                c31.4-10.4,66.9-24.7,78.7-31.7c44-26.2,136.3-40,287.8-43.2c161.4-3.3,285.9,12,326,40.2c8.6,6,36.7,17.9,62.5,26.4
                c83.2,27.5,190.6,66.8,218.7,80c15.1,7.1,36.2,15,46.9,17.6c43.6,10.4,72.1,27.4,108.7,64.4c73.6,74.6,89.4,112.3,113.8,271
                c8.1,52.8,22,95.9,69.8,217.2c20,50.6,22.9,74.3,10.6,85.3c-4,3.6-22.1,12.3-40,19.3c-18,7-59.9,25.8-93.2,41.8
                c-89.6,43.2-112.6,50-162,48.6l-40.1-1.2l-2.1,50.2c-2.6,61.2-8.8,135.5-15.1,179.4c-2.6,18-4.8,75.3-4.9,127.3
                c-0.2,91.7,0.1,95.8,10.9,137c10.3,39.2,10.9,46.1,8.8,90.7c-1.3,26.5-4,63-6,81c-38.3,246.7-23,445.2,3.4,633.8
                c-23.6,71.4-200.1,158.8-399.3,169.1c-79.4,4.1-326.2,15-397.1,10.9h0c-138.9-8.1-271.3-33.3-331.6-63.1
                c-32.8-17.9-54.6-46.1-68.6-81.7c-13.4-34,4.2-53.4,2.5-98.4C690,1700.3,714.3,1470.6,701.6,1319.7L701.6,1319.7z"/>
        </g>
        <g id="layer2">
                <path id="path884" class="st2" d="
                M700.9,1791.5c2.8-8.6,4.6-57,4.9-133.1c0.5-110.8,1.2-122,9.3-152.4c16.2-60.3,17-67.2,16.9-135c-0.1-65.9-1.9-86.6-14.6-169.8
                c-3.4-22.3-8.9-58.7-12.2-81c-3.3-22.3-7.2-67.4-8.6-100.3l-2.6-59.8l-11.7,1.9c-6.4,1.1-27.5,1.7-46.9,1.3
                c-45.3-0.7-66-7.7-160.2-53.5c-40.9-19.9-84.5-39.9-96.9-44.5c-36.4-13.5-36.6-21.2-2.5-115.6c23-63.6,36.4-110.2,42.3-146.6
                c2.2-13.8,7.7-45,12.1-69.4c4.4-24.4,8.1-47.6,8-51.6c-0.1-12.6,23.6-76.4,40.3-108.5c11.7-22.6,24-38.6,45.8-59.8
                c16.4-15.9,31.8-32.8,34.4-37.6c2.6-4.7,14.7-15,27-22.9c23.5-15,77.1-39.7,86.3-39.8c3,0,46-15,95.6-33.3
                c49.6-18.3,113.9-41,142.9-50.5c29-9.5,60.7-22.3,70.5-28.4c22.6-14.1,46.3-22.4,76-26.6c12.9-1.8,35.7-5.1,50.8-7.2
                c69.5-10,105.7-12.1,203.5-12.2c57.7,0,122.5,1.9,144,4.3c57.2,6.4,128.3,24.3,144.3,36.4c7.3,5.5,34,16.9,59.4,25.4
                c99.9,33.4,201.6,70.6,223.8,82c9.7,5,29,12.1,42.9,15.8c44,11.7,69.5,26.8,106.7,63c47.9,46.6,68.9,78.2,86.6,130
                c9.1,26.7,17,60.7,21.1,90.7c9.7,71.6,13.7,89.9,30.2,138.6c9.6,28.5,28.1,78.8,41,111.9c25.8,65.7,29.5,88.2,16.7,100.6
                c-4.1,4-25.5,14.3-47.5,22.9c-22,8.6-58.9,25-82,36.4c-88.9,44-129.7,55.4-180.7,50.4l-26.2-2.5l-2.4,63.1
                c-1.3,34.7-5,89.2-8.3,121c-16,156.8-15.9,245.6,0.6,308.7c8.5,32.8,9.3,119.1,1.6,187.1c-0.5,207.5-6.6,475.6-1.5,621.6
                l-381.5,176.9c-56.5,4.3-365.1,4.1-425.6-0.2l0,0c-134.2-9.6-243-30.9-312.4-61.3c-44.4-29.3-60-63.4-70.1-98.3L700.9,1791.5z
                 M1145.2,1103.9c18.4,12.2,82.5,39.4,93.3,39.5c3.3,0,13.1,2.6,21.7,5.6c11.2,4,34.3,5.6,82,5.7c55.6,0.1,70.4-1.1,91.1-7.5l0,0
                c13.6-4.2,28.9-7.7,34-7.7c5.7,0,19.2-8.7,35.6-23.1c14.5-12.7,27.8-23.1,29.4-23.1c1.7,0,8.1-10,14.4-22.2s19.1-34.5,28.5-49.6
                c15.5-24.8,26.8-52.2,32.3-78.6c1.1-5.4,8.7-14.3,17.1-20.1c8.3-5.7,24.8-22.2,36.8-36.7c16.8-20.3,24.1-33.6,32.6-59
                c6-18,13.2-35.5,16-38.9c2.8-3.4,5.1-7.6,5.1-9.4c0-1.8,6.9-11.3,15.2-21.2c21.6-25.3,58.3-82.4,71.7-111.6
                c20.7-45,11.7-210-1.1-222.5c-5.8-5.7-13.1-6.3-55.6-4.6c-46,1.8-51.3,2.9-86.2,17.2c-42.5,17.4-84,40.5-111.7,62.1
                c-10.5,8.2-30.5,21.7-44.4,30.1c-13.9,8.3-28.9,17.3-33.2,20c-17.7,10.9-43.9,20.9-58.6,22.3c-20.7,1.9-103.5-5.9-112.7-10.6
                c-5.4-2.8-14.4-0.6-36,8.6l-28.7,12.4l-44.1-19.3c-24.2-10.6-58.1-24.1-75.3-30c-83.5-28.6-114.4-45.4-156.2-84.7
                c-30.1-28.3-49-42.7-70.3-53.4c-17.5-8.8-25.9-10.1-82-12.5c-46.8-2-67.2-4.5-81.2-9.9c-21.7-8.4-35.4-9.2-40.8-2.4
                c-2.1,2.7,11.8,140.6,10.3,174.3l-2.7,61.3l34.3-2.4c46.2-3.3,49.2-0.9,45.7,34.8c-2.3,23.1-4.2,27.7-14.5,36.4
                c-13.6,11.4-12.4,22.9,2.5,22.9c5.1,0,12.1,3.1,15.6,6.9c8.7,9.5,18.9,34.6,18.1,44.6c-1.2,14.7,0.1,17.9,7,17.8
                c3.8-0.1,10.2-2.7,14.4-5.8c17.4-13,36.9-3.3,27.4,13.6c-8,14.3-6.8,23.4,4.3,35c6.1,6.3,10.5,15.9,11.3,24.4
                c1.4,14.5,11.2,33.2,17.5,33.2c5.4,0,19.8,24.9,19.8,34.2c0,4.7-10.8,19.8-25.4,35.5c-14,15-25.4,30.7-25.4,34.7
                C927.4,900.3,1041.6,1037.7,1145.2,1103.9L1145.2,1103.9z M2048.8,841.5c12.9-6.4,40.4-21,61.1-32.5l37.7-21l-4.4-11.4
                c-2.4-6.3-7.7-12.5-11.9-13.8c-4.1-1.3-13.5-8.2-20.7-15.4c-14.5-14.3-21.2-16-28.5-7.4c-3.9,4.7-2.6,7.5,7.3,15.8
                c6.7,5.5,12.1,13.6,12.1,18c0,21.9-35.2,51.4-90.8,75.9c-14.5,6.4-26.4,12.5-26.4,13.5C1984.4,866.9,2025.6,853,2048.8,841.5
                L2048.8,841.5z M518.9,823.8c-10.5-11.4-8.1-19.3,6.2-20.7l12.7-1.2l-15.6-8.3c-8.6-4.6-18.2-12.4-21.4-17.3
                c-9.1-14.2-15.9-35.5-13.4-41.8c5.1-12.9,13.3-47.2,13.2-55.2c-0.1-4.7-7.1,7.1-15.7,26.2c-8.6,19.1-17.1,37.4-18.9,40.6
                c-1.8,3.3-4.5,11.2-5.9,17.7c-2.4,10.9-1.6,12.2,11.7,17.2c10.8,4.1,15.4,8.7,18.7,18.8c2.6,7.9,9.9,17,17.7,22.2
                C524.1,832.7,527.5,833.2,518.9,823.8L518.9,823.8z M578.8,697.9c0-3.1-4.7-13.9-10.4-24.1c-26.7-47.6-29.6-55.7-27.1-74.1
                c2.8-20.2,13.6-37,24-37c15.7,0,9.3-21.1-9.4-30.6l-11.1-5.6l-11,26.9c-6,14.8-13.2,28.7-15.9,31c-8.5,7-10.1,25.3-3.9,45.8
                c7.3,24.1,17.8,40.1,38.9,59C569.8,704.2,578.8,707.3,578.8,697.9z M1881.4,674.3c13.5-14.2,18.8-26.7,16.4-39
                c-0.9-4.8-6.6,1.9-17.9,21.3c-9.1,15.6-16.5,29-16.5,29.9C1863.3,690.9,1869.6,686.7,1881.4,674.3L1881.4,674.3z M2026.6,529.9
                c4.6-29.6,0.5-37.9-11.5-23.4c-6.5,7.9-7.4,12.7-5.1,28.9C2014.7,570.3,2020.7,568.3,2026.6,529.9z M1927.4,525.1
                c3.3-16.3,10.7-89.7,11.4-112.9c0.5-18.3-0.5-23.1-5.2-23.1c-4.5,0-5.6,3.9-4.8,16.6c0.6,9.1-2.6,39.2-7.1,66.8
                c-4.5,27.6-7.2,52.7-6.1,55.8C1918.9,536.6,1925.5,534.8,1927.4,525.1L1927.4,525.1z M565.5,486c-3.1-16.2-8.3-20.6-13.3-11.1
                c-4.8,9.2,5.7,34.9,11.7,28.9C566.3,501.3,567,494,565.5,486L565.5,486z M985,154.3c-2.2-5.6-5.7-10.2-7.9-10.2
                c-5.7,0-5,4.6,2.3,14.8C987.3,170,990.2,167.6,985,154.3z"/>
        </g>
        <g id="layer3">
                <path id="path882" class="st3" d="
                M693.4,1938.1c4.2-116,15.1-172.3,11.8-275.9c8.6-165.1,31.1-338.8,11.3-468.8c-14.7-94.4-17.6-120.7-19.9-176.5
                c-1.3-32.4-4-58.8-6-58.8c-2,0-11.6,2-21.3,4.4c-13.3,3.3-25.6,3.3-49.6-0.1c-43.7-6.2-65.2-13.9-135.4-48.8
                c-33.3-16.5-76.3-36.5-95.7-44.3l-35.1-14.2l-1.2-18.6c-0.9-13.9,2.4-28.3,13.1-57.5c41.3-112,46-128.7,58.4-206.7
                c17.8-112.1,25.1-138.8,53-193.9c14.4-28.4,27.9-45.4,68.9-86.7c37.5-37.8,65.7-56.4,105.2-69.3c16.8-5.5,70.1-24.3,118.4-41.9
                c48.3-17.6,112.4-40.1,142.5-50.1c30.1-10,64.3-24,76.1-31.1c45.9-27.6,169-44,330.1-44c132.9,0,243.8,16.6,281,42.2
                c8.6,5.9,44.7,20.4,80.2,32.3c80.6,26.9,191.5,67.7,197.6,72.7c2.5,2.1,23.6,9.9,46.9,17.3c58.1,18.6,76.9,30.4,119.7,74.8
                c28.5,29.6,40.5,45.6,52.8,70.3c21.4,43,35.4,87.7,41.3,132.2c12.3,92.3,19.9,119.6,68.2,246.3c31.4,82.2,34.6,102.1,18.1,112.8
                c-5.3,3.4-26.8,12.9-47.8,21c-21,8.1-59.2,25.1-85,37.8c-88.5,43.4-105.7,48.4-164.5,47.6l-35.6-0.5l-2.3,56.9
                c-1.3,31.3-5,83.8-8.3,116.7c-16.7,167.2-16.5,256.8,0.5,322.2c8.6,32.9,9.3,107.7,1.6,179.4c-0.6,64-3.2,173.2-1.3,249.5
                c3.8,155.1,12.2,277.6-4.2,332.3l17.1,54.1c-74.6,77.9-140.5,116.4-412.2,166.5c-65.9,4.2-333.5,4.1-396.3-0.1v0
                c-137.2-9.2-246.1-62.6-308.8-91.9c-13.1-6.1-26.5-11.1-29.7-11.1L693.4,1938.1z M1182.2,2337.1c-1.3-1.3-4.7-1.4-7.5-0.3
                c-3.1,1.2-2.2,2.1,2.4,2.3C1181.2,2339.2,1183.5,2338.3,1182.2,2337.1L1182.2,2337.1z M1113.9,2333c-2.7-1.1-7.1-1.1-9.8,0
                c-2.7,1.1-0.5,1.9,4.9,1.9C1114.4,2334.9,1116.6,2334,1113.9,2333z M1728.3,830.7c4.4-7.4,21.2-29.1,37.4-48.2
                c16.2-19.2,34.5-42.5,40.7-51.9c11.1-16.6,11.4-16.8,12.6-6.6c1.6,13.5,6.9,13.1,32.6-2.1c28.7-17.1,39-25.6,49.9-41.5
                c5.1-7.4,12.8-16.3,17-19.7c5.9-4.7,10-18.3,16.9-55.9c5-27.3,9.2-58.4,9.3-69c0.1-10.6,1.9-30.6,4.2-44.4
                c9.5-59.4,10.4-71.9,6.5-91.9c-2.9-15-6.7-22.3-13.7-26.8c-9.2-5.9-10-5.8-16.7,2.3c-10.2,12.5-14.5,37.6-21.3,123
                c-7.2,91.4-8.5,99.7-18.5,116.1c-12.1,19.8-26.4,48.6-26.4,53.1c0,2.3-5.5,9.2-12.2,15.4l-12.1,11.3l2.9-13.5
                c1.6-7.4,5.2-18.1,8.1-23.6c2.9-5.6,8.9-23.8,13.5-40.5c4.5-16.7,11.5-35.6,15.5-42c5.9-9.4,6.8-16.2,5-36.7
                c-2-21.3-4.4-27.5-16.1-41.4c-15-17.7-54.9-144.7-93.4-149.2c-38.7-4.5-113.5,22.9-166.4,60.9c-68.3,49.2-95.7,67.4-121.3,80.4
                c-25.9,13.2-31.1,14.5-59.6,14.4c-17.3-0.1-37.3-2.5-44.9-5.5c-56.3-22.1-119.8-39.9-164-46c-30.1-4.1-45.2-4.2-80-0.3
                c-23.6,2.6-46.6,6-51.2,7.5c-6.5,2.1-10.7-0.4-20.4-12.4c-8.1-10.1-21.8-19.8-41.5-29.1c-16.2-7.7-36.9-20.7-46-29
                c-21.1-19-43.5-32.6-63.5-38.4c-9.3-2.7-52.5-5.1-107.4-5.9c-70.9-1-95.7-2.7-109.3-7.5c-29.5-10.3-48.7-12-54.6-5
                c-13.4,16,15.5,247.2,34.1,268.2c3.9,4.4,4.3,10.4,1.6,24.5c-3.8,19.8-1.5,37.2,5,37.2c8.9,0,24.7-16.8,26.5-28.3
                c1.9-11.8,2.8-12.3,22.5-13.4c14.9-0.8,20.5,0.2,20.4,3.9c-0.3,15.3-9.3,40-19.8,54.3c-9.2,12.5-11.4,18.9-9.7,27.5
                c3.8,18.7,9.3,22.4,29.3,19.7c12.7-1.7,20.1-0.8,25.6,3.2c7.1,5.2,7.3,7.1,2.9,23.5c-6.1,22.5-3.1,34.6,9.9,40.4l-16.9,7
                c16.4,4.8,26.4,32.9,31.8,77.3c5.9,48.2-41.1,160.3-43.1,237.5c-0.7,28.4,25.7,2.1,25.5,31.6c-0.2,41.7-35.2,97.6-25.3,142.5
                c4.7,21.5-13.7,75.5-1.2,119.9c10,35.4,51.7,59.8,53.8,91.5c2.4,36.6-32.8,55.6-26.5,74.4c12.2,36.8,51.4-45.7,52.7-0.9
                c1.8,60.2-11,131.1-51.3,221.6c-22,49.5-33.9,120.9-22,164.3c9.3,34,57.3,9.4,67.5,37c14.7,39.7-27.3,24.6-8.8,49.2
                c24.5,32.8,60.3-23.6,69.5-53c4-13,3.6-17.2-2.8-29.7c-15.9-31.3-13.4-44.6,18.2-99.6c11.2-19.5,16.2-39.6,16.3-64.9
                c0.1-28.7,1.1-31.3,28.6-72c24.7-36.4,23.4-52.3-5.4-69.8c-28.2-17.2-27.5-20.2,21.5-94.1c15.5-23.3,31.7-49.4,36-57.9
                c19.7-38.8,32.8-70.4,33.5-81c0.7-10.7-0.3-11.7-13.2-12.7c-9.1-0.7-15.8,1-19,4.8c-2.8,3.3-7.8,6-11.1,6c-4.8,0-4.3-1.9,2.4-8.9
                c4.7-4.9,8.5-10.6,8.5-12.6c0-2,6.6-11.8,14.6-21.8c8.1-10,27.7-34.9,43.7-55.5l29.1-37.4l3.6,11.2c7.4,22.7,10.2,23.4,55.6,14.7
                c11.4-2.2,12.6-1.1,24.4,20.8c6.8,12.7,12.4,25.6,12.4,28.8c0,9.2-18.3,61.9-37.3,107.5c-19.1,45.8-22.4,65.8-12.3,75.7
                c7.9,7.8,19,3.5,44.3-17c9.4-7.7,18.2-12.9,19.4-11.7c4.7,4.7,10.5,33,12.1,59.3c1.7,28.2,1.1,30.8-20.2,87.8
                c-11.4,30.5-13.1,60.4-3.8,69.6c9,8.9,15.6,7.5,25.8-5.6c23-29.5,25.6-32,31.5-29.8c8,3,12.4,35.4,8.8,63.9
                c-1.5,12-8.7,43.4-16,69.8c-18,65-17.1,103.1,3.3,132.4c6.4,9.3,9.9,10.6,27.6,10.6c11.1,0,28-2.7,37.6-6
                c21.3-7.3,34.5-4.5,39.5,8.5c4.5,11.7-1.1,36.7-10,43.9c-3.2,2.6-5.8,6.8-5.8,9.2c0,8.2-19.1,24.8-34,29.6
                c-29.1,9.3-51.9,22.8-51.9,30.6c0,11.1,9.2,14.3,54.7,18.9c49.8,5.1,70.3,10.4,70.3,18.2c0,3.2-3.8,14-8.4,23.9
                c-4.6,10-9.2,26.4-10.3,36.4l-1.8,18.3h-14.9c-8.2,0-27.7-2.7-43.4-6c-30.7-6.4-53.1-7-171.1-4.5c-56.9,1.2-81.6,0.2-97.6-3.8
                c-48.7-12.3-79.9-7.6-104.7,7.6c-11.7,7.2-41.2,17-26.8,27.5c10.6,7.8,15.7,8.1,124.9,8.5c147,0.6,194.4,6.8,218.5,28.7
                c11.7,10.7,12.1,11.8,5.6,16.7c-7.3,5.6-18.4,7.4-98.2,16.2c-54.2,6-78,11.4-84.8,19.6c-9.1,10.8,4.9,11,93.6,1.3
                c44.1-4.8,135.2-2.1,234.9,7.1c40.2,3.7,46.4,3.5,89.8-2.9l0,0c11.8-1.7,39.9-6.9,62.5-11.6c70.8-14.5,75.4-15.3,108.9-17.9
                c18.7-1.5,40.2-5.8,50.2-10.2c33.3-14.6,59.6-45.8,59.6-70.8c0-11.6,9.5-199-10-202.2c-10.8-1.8-15.5-4.5-15.5-9
                c0-3.5-5.2-23.4-11.6-44.2c5.3-231.2,76.3-411.4,31.6-663c-37.4-210.6-111-233.2-81.8-341.1
                C1686.4,903.6,1704.1,863.1,1728.3,830.7L1728.3,830.7z M1999.5,863.2c20.5-6,65-27.3,124.7-59.5c16.1-8.7,29.7-16.3,30.3-16.9
                c0.6-0.6-1.5-7.2-4.7-14.8c-3.9-9.3-9.7-15-18-17.9c-6.7-2.3-13-7.4-14.1-11.3c-1-3.9-7.8-10.2-15-14l-13.1-7l-19.8,16.5
                c-25.5,21.2-25.6,26.3-0.3,23.9c16-1.5,19.9-0.7,22.1,4.9c7.8,20.1-33.3,55.6-96.2,82.9c-20.4,8.9-37.8,16.8-38.7,17.7
                C1952.6,871.8,1980.4,868.8,1999.5,863.2L1999.5,863.2z M578,856.1c0-1-11.4-9.8-25.4-19.6c-26.8-18.9-30.6-23.3-17.2-19.9
                c11.5,3,19.1-0.8,19.1-9.4c0-4.6-7.6-12.2-20.5-20.4c-33.3-21.2-40.1-39.8-28.3-77.9c3.2-10.4,5.8-24.1,5.9-30.3l0-11.4
                l14.6,13.6c8.1,7.5,26.1,21.6,40,31.3c14,9.7,34.1,26.5,44.8,37.3c16.8,17,29.4,24.5,29.4,17.5c0-1.2-6.8-13.3-15.2-27
                c-17.2-28.2-61.8-126.4-65.3-143.9c-2.1-10.3-0.6-12.6,13.1-21.2l15.4-9.6l-3.5-20.6c-9.5-56-12-67.8-16.9-79.4
                c-2.9-6.9-7.8-12.5-10.9-12.5c-6.5,0-18.2,26.3-18.2,41c0,5.5-9.2,28.4-20.5,51c-19.9,40-20.5,42-20,72.7
                c0.4,23.6-0.9,32.1-4.9,33.6c-3,1.1-5.4,5.7-5.4,10.2c0,4.5-9,26.6-19.9,49.2c-23.7,48.7-27,62.9-16.7,71.8
                c50.6,43.7,80.1,61.4,125.4,75.3C577.6,857.7,578,857.1,578,856.1L578,856.1z M1930.8,803.9c6.9-4.2,20.6-17.7,30.4-29.9
                c9.9-12.2,25.3-30.1,34.4-39.6c33.3-35.1,48.6-85.1,38.6-126.1c-4.4-18-4.1-27.8,1.5-68.4c3.7-26.1,5.5-50.3,4.2-53.8
                c-4-10.2-19.5-7.5-30.4,5.3c-10.6,12.4-16.4,33.1-12.6,44.9c1.7,5.3-0.7,8.4-9.4,12.2c-7.5,3.3-11.7,7.9-11.7,13
                c0,4.3-3.5,13.5-7.8,20.3c-4.3,6.8-11.6,30.2-16.4,51.9c-7.1,32.7-7.7,40-3.3,42.7c4.4,2.7,4.1,6.5-1.8,21.9
                c-3.9,10.3-8.5,19.5-10.1,20.6c-1.6,1.1-4.1,6.5-5.5,12c-2.1,8.1-1,10.5,5.5,12.1c13.2,3.4,10.3,19.9-6.9,38.6
                C1904.6,809,1905.2,819.6,1930.8,803.9L1930.8,803.9z M1998.1,589.2c-3.9-3.9-3.3-23.7,0.7-26.2c4.4-2.7,8.4,17.4,4.8,23.9
                C2002,589.6,1999.5,590.7,1998.1,589.2L1998.1,589.2z M2022.5,774.5c18.6-15.5,54.9-97.1,54.9-123.6c0-6.2-10.9-16.8-17.4-16.8
                c-6.1,0-13.6,17.4-13.3,30.9c0.3,14-20.7,68.3-34.8,90.1c-11,17-13,29.5-4.7,29.5C2008.9,784.6,2015.8,780,2022.5,774.5
                L2022.5,774.5z M2029.3,334.2c-1-3.8-1.9-1.6-1.9,4.7c-0.1,6.4,0.7,9.4,1.8,6.8C2030.2,343.2,2030.3,337.9,2029.3,334.2
                L2029.3,334.2z M1517.8,243.6c20.3-12.1,28-26.2,14.3-26.2c-8.4,0-44.9,20.8-54,30.7c-7.1,7.7-7,7.8,5.9,7.8
                C1491.9,256,1505.4,251,1517.8,243.6L1517.8,243.6z M1046.6,221c0-2-4.7-7.6-10.5-12.3c-20.6-17-35.7-35.2-44.6-53.9
                c-8-17-10-18.6-18.9-16.4c-5.5,1.4-10.7,3.2-11.6,4.1c-2.9,2.9,28.5,45.5,46.3,62.8C1029.4,226.6,1046.6,233.5,1046.6,221
                L1046.6,221z M1565.9,204.9c10.9-11.2,39.7-55.7,45.1-69.5c1.2-3.2-1.8-7.1-7.4-9.6c-8.9-4-9.9-3.3-16.2,13.2
                c-3.7,9.6-15.3,28.5-25.8,42c-22.7,29.2-23,30.5-8.5,36.1C1553.4,217.3,1559.2,211.8,1565.9,204.9z"/>
        </g>
        <g id="layer4">
            
                <path id="path880" class="st4" d="
                M1317.1,57.5c-33.9,0-65.9,0.8-95.9,2.1c-65.6,1.4-91.6,3.6-125.3,9.1c-65.1,10.6-85.3,16.5-109.3,31.7
                c-10.7,6.8-31.8,16.3-46.9,21C906.1,132,831.1,158.6,766,183c-26.8,10-69.2,24.7-94.2,32.6c-53.5,16.9-100.8,44-114.5,65.4
                c-4.9,7.7-15.2,18.7-22.9,24.5c-18,13.6-44.9,48.9-58.2,76.4c-26.2,54.1-36.1,92.9-53.9,209.9c-7.4,48.8-33.5,135.5-61.8,205.6
                c-9.2,22.8-10.8,48-3.4,53.9c2.7,2.1,17.2,8.7,32.2,14.5c15,5.8,56.3,24.9,91.8,42.4c95.8,47.3,144.9,60.5,188.3,50.5
                c12.3-2.8,23.3-4.2,24.4-3.1c1.1,1.1,2.1,18.7,2.1,39c0,40.6-37.4,122.9-23.1,213c8.7,107.4,25,229.3,13.2,285.1
                c-5.2,24.7,6.2,7.8,3,23.2c-1,4.2-2.6,28.1-3.3,32.7c-10.7,30.1-31.1,57.3,6.4,194.5c-1.1,132.4,6.6,155.3,0,279.7
                c22.1,77.1-8,129.2-12,187.3c-2.6,38.4,17.2,4.2,8,33.5c-7.7,24.7,14.1,5.3,15.6,12.2c3.8,17-17,36.8,9.5,56.5
                c29.1,21.6,59.4,46.4,136.8,74.5c65.5,23.7,132.5,43.8,259.7,51.3c95.7,5.6,363.6,0.9,445.1-7.8c110.3-11.8,131.9-38,203.2-63.2
                c76-26.8,109.2-60.3,132.4-105.5l-19.5-18.5l10-61.7c-9.7-29.6,4.5-54.5,0.5-101.7c-4.6-55.2,1-68.6-3.6-168.4
                c-4.4-97.2-0.6-130.2-0.1-206.5c0.5-63.9,1.7-82.9,8.3-125.4c6.9-44.5,5.3-75.7-6.1-120.6c-10.1-39.7-10.6-45.6-10.6-139.8
                c0-54.1,2.1-114,4.7-133.1c5.7-42.9,16.5-177.6,16.5-206.4v-21.2l32.6-0.2c10.9,0.6,21.1,0.5,31.1-0.3
                c41.2-0.9,54.1-6.4,143.3-48.9c33.3-15.9,75-34.4,92.7-41.2c17.7-6.8,34.9-14.9,38.1-18.1c10.5-10.4,6.3-31.7-19.5-98
                c-41.3-106.3-55.6-150.8-62.3-193.2c-13.8-87.7-18.4-110.7-28-140.4c-17.2-53.3-34.4-80.8-78.6-125.8
                c-44.5-45.3-67.2-59.3-118.1-73.1c-16.1-4.4-35.4-11.5-42.9-15.9c-15.5-9-121.2-48.1-208.9-77.3c-32.2-10.7-65.6-24.4-74.2-30.3
                c-3.4-2.4-8.3-4.9-14.3-7.3c-4.6-2.4-8.4-3.9-10.1-3.9c-0.1,0-0.5-0.1-0.6-0.1c-28-9.8-71-19.1-111.1-23.5
                c-15.9-1.7-50.2-2.7-96.1-2.8C1348.5,57.7,1333.2,57.5,1317.1,57.5L1317.1,57.5z M1592.3,115.8c2.2,0,6.1,1.8,13.3,5.5
                c6.3,3.2,11.5,8.6,11.5,11.9c0,5.9-1.9,10.3-18.3,42c-13.1,25.3-70.2,72.3-114.8,94.3c-45,22.3-76.8,32.3-128.5,40.5
                c-128.2,20.5-269.3-20.4-351.7-101.7c-21.4-21.1-50.5-61.2-50.5-69.6c0-2.2,4.8-5.1,10.7-6.5c5.9-1.4,12.6-4,15-5.8
                c2.8-2.1,7.5,3.7,13.7,16.8c18.8,40.1,75,84.9,140.2,111.9c41.8,17.3,53.1,20.7,91.8,28c62.4,11.7,134.2,4.1,200.5-21.2
                c44.8-17.1,100.5-51.3,124.8-76.7c20.5-21.4,39.8-52.5,39.8-64C1589.8,117.6,1590.2,115.8,1592.3,115.8L1592.3,115.8z
                 M1761.8,1851.5c20.2,13.9,25.5,114.2,45.3,176.1c18.1,56.3,29.5,143.4,24.2,184.9c-2.6,20.2-3.3,21.4-20,29.3
                c-9.5,4.6-18.3,9.8-19.4,11.7c-7.1,11.4-106,41.7-174.9,53.6c-24,4.1-65.6,10.5-92.4,14.1c-40.2,5.4-33.8,17.7-212,18.4
                c-119.2,0.5-224.6,0.2-234.3-0.6c-54.7-4.7-123.3-13.6-126.2-16.5c-1.9-1.9,9.3-5.3,25.3-7.8c45-7.1,45.4-7.5,26.4-25.5
                c-11.7-11.1-12.8-11.3-43.9-9.4c-17.6,1.1-28.4,10.7-59.5,10.6c-65.8-0.2-82-5-82-24.4c0-24.2,41.5-62.3,106.4-97.8
                c34.2-18.7,38.5-28.3,12.6-27.8c-8.5,0.1-23.8,2.7-34,5.6c-10.1,2.9-19.6,4.1-21.1,2.7c-1.5-1.5,5.5-11.3,15.5-21.8
                c18.8-19.9,23.6-35.9,12-40.3c-17.6-6.7-33.3-19-55.3-6.6c-6.4,3.6-21.2,13.5-32.9,21.9c-24.3,17.5-26.2,18-29.6,7.7
                c-3.2-10.1-14.4-42.3,4.8-66.8c5.7-30.1,3.4-64.8-9.7-64.8c-2,0-10.6,6.2-19.1,13.8c-8.7,7.8-17.4,12.6-20,11.1
                c-9.5-5.8-20.1-12.7,16.7-84.5c20.9-40.8,36.7-75.3,35.2-76.8c-1.5-1.5-9.8-0.4-18.5,2.4c-23,7.5-25.5,3-17.4-31.4
                c14.7-63.1-1.8-103.3,20.6-138.1c20.2-31.4,36.5-65.1,36.5-75.4c0-9.6-12.8-7-35.8,7.2c-30.9,19.1-38.8,21.5-48.3,14.6
                c-11.2-8.1-9-31.6,5.6-62.5c14.9-26.1,30.5-24.2,39.2-64.8c5.6-26.4-49-30.2-45.8-62c3.1-30.9-13.6-115.4-4.6-181.2
                c6.3-46.3,40.3-77.6,38.2-98.8c-5.4-55.5-49.2,13.8-43.4-35.8c2.9-24.9,41.7-36.1,40.4-52.2c-1.1-9.9-2.7-11.1-14-10.5
                c-16.7,0.7-16-4.6,3-23.8c31-31.2,26.9-64.8-4.7-38.5c-25.8,21.5-30.8,5.2-7.3-23.9c19.2-23.8,31-55.2,29.5-78.3l-1.1-17.4
                l-17-1.2c-9.3-0.7-19.2-3.1-21.9-5.3c-6.6-5.4,17.6-56.2,24.6-79.2c3.1-10.2,4.9-19.9,3.9-21.4c-1-1.5-14.5,0.5-30,4.6
                c-15.6,4-24.6-9.3-27.3-10.4c-6.9-2.6-6.2-15.7,3.2-54.4c7.7-32.2,6.6-45-3.4-38.9c-5.1,3.1-17.2,39-20.2,60.3l-2.5,17.4
                l-12.6-39.1c-7.9-24.6-13.8-52.5-15.7-75.2c-1.7-19.9-5.1-39.8-7.5-44.2c-4.4-8.1-34.2-125.2-45.5-179.1
                c-7.8-37.1-7.7-62.8,0.3-78.1c9.6-18.4,34.1-39.8,57-49.8c11.3-4.9,52.9-25.1,92.4-44.8c63.9-31.9,145.2-68,160-71.2
                c0.4-0.1,0.8-0.1,1.2,0l0,0c2.8,0.5,6.2,4.6,8.1,10c2.2,6.1,10.8,20.9,19.2,32.8c52.1,73.7,138.4,125.5,245.3,147.1
                c51.6,10.4,150.1,11.3,197.8,1.8c80.5-16.1,133-38.1,192.4-80.8c11.7-8.4,48.4-47.1,59.2-62.5l11.3-16.1l20.5,5.8
                c11.3,3.2,26.7,7.2,34.2,9c42.7,10.3,88,25.4,103.5,34.6c6.4,3.8,16.1,8.2,21.5,9.7c5.4,1.5,21.6,7.8,36,14
                c14.4,6.2,38.5,14,53.6,17.3c23,5.1,27.2,7.3,26.5,13.6c-0.5,4.5,3.3,10,9.7,13.9c12.7,7.7,17.2,4.8,10.8-6.9
                c-4.4-8.1-4.1-8.4,6.5-5.8c6.1,1.5,12.9,4.4,15.1,6.5c2.1,2.1,4.5,19.1,5.3,37.8c1.2,30.3-0.6,41.8-16.9,104.9
                c-10,39-19.8,83.1-21.6,97.9c-8.2,64.6-16.1,104.8-22.6,113.8c-3.8,5.3-10.1,20.1-14,32.8c-17.6,56.7-29.7,78.7-29.7,54
                c0-6.8-2.1-9.6-7.2-9.6c-10.9,0-19.9,12.3-28,38c-4,12.8-13.5,31.8-21.2,42.2c-18.1,25,21.1,54.5,20.3,72.8
                c-0.4,8.1,0.8,34.5,2.6,58.6l3.3,43.9l-10.4-6.7c-14-9.1-22-2.4-22,18.1c0,14.7,9.8,51.2,15.9,59.1c5.4,6.9,15,37.8,10.4,33.3
                c-7.7-7.6-21.5-4.7-30.3,6.3c-7.5,9.3-8.2,13.7-6.2,36.2c1.3,14.1,7.9,41.7,14.6,61.4l12.2,35.7l-9.3,6.9c-8,6-9.2,9.8-8.5,28.7
                c-1.6,146.8,7.6,381.4,19.7,530.7C1842.4,1850.3,1752.3,1721.2,1761.8,1851.5L1761.8,1851.5z M2031.5,311.8
                c12.5,1.4,48.3,78,58.5,127.7c2.4,11.7,5.7,27.3,7.4,34.7c1.7,7.4,6.8,30.9,11.4,52.1c19.1,89.1,18.6,87.2,45.3,167
                c5.9,17.6,9.5,33.2,8.1,34.6c-1.4,1.4-6.3,0.3-10.7-2.4c-5.4-3.3-9.4-3.7-12-1.2c-4.8,4.7-0.6,12.2,6.9,12.2c3,0,8.4,5.6,12,12.5
                c3.5,6.9,8.9,15.3,11.8,18.7c4.7,5.3,4.5,6.9-1.4,11.9c-15.2,12.8-133.8,72.9-162.6,82.3c-32.6,10.7-89.5,17.8-82.5,10.3
                c2.1-2.3,27.2-14.6,55.6-27.4c28.4-12.8,56.2-26.1,61.7-29.7c13.1-8.5,19.6-20.3,14.1-25.7c-2.9-2.8-14.5,2.4-38.4,17.3
                c-37.3,23.2-83.5,41.6-104.8,41.6c-16.9,0-17.3-5.4-0.7-11.5c34.2-12.6,43.8-18.3,57.9-34.2c15.4-17.3,19.9-31.5,9.9-31.5
                c-3,0-7.8,2.9-10.7,6.4c-2.9,3.5-13.9,13.1-24.3,21.2c-18.7,14.6-38.2,19.5-43.7,10.8c-3.4-5.4,7.7-21.8,26.2-38.9
                c10.6-9.8,14.3-15.9,12.5-20.6c-1.6-4.1-5.3-5.9-9.8-4.7c-4,1-7.3,0.7-7.3-0.7c-0.1-6.4,60.9-252.3,76.3-307.3
                c5.3-19.1,14.2-54.7,19.8-79.1c5.6-24.4,10.8-45.1,11.6-45.9C2029.9,311.9,2030.6,311.7,2031.5,311.8L2031.5,311.8z M559.1,354.6
                c3.2,0,39.3,140.5,45.5,176.9c3,17.7,8.9,38.9,13.1,47.1c4.2,8.2,7.7,21.6,7.7,29.9c0,12.4,8.7,52.1,21.6,98.7
                c1.2,4.4-6.3-7.5-16.7-26.6c-14-25.7-21.1-35-27.5-36c-6.9-1-8.7,0.7-8.7,8c0,13.2,31.2,74.7,56.5,111.4
                c30.8,44.7,28.6,55.7-4.9,25.3c-35.4-32.1-72.6-61.4-85.5-67.4c-11.9-5.6-13.6-5.6-19.2-0.1c-15.7,15.5,4.8,41.4,62.8,79
                c47.1,30.6,45.4,28.9,26.5,26.5c-26.1-3.3-36,0.6-36,14c0,9.3,2.4,12.4,13.5,16.9c7.4,3.1,21.4,5.6,30.9,5.6
                c19.2,0,29.7,2.9,29.7,8.1c0,5.4-22.2,3.3-62.5-6c-44.1-10.2-56.1-15-107.4-43.4c-60.7-33.6-83.9-48.9-83.9-55.2
                c0.1-12.3,12.2-55.9,32.5-116.4c11.6-34.6,23.3-72.5,26-84.2c4.5-19.2,10.3-40.9,25.2-93.3C503.4,455.7,555.1,354.6,559.1,354.6
                L559.1,354.6z M2111.5,695.4c-1.4-0.2-2.4,0.6-2.4,2.3c0,2.2,1.8,4.1,3.9,4.1c2.1,0,3.9-0.8,3.9-1.7c0-0.9-1.8-2.8-3.9-4.1
                C2112.5,695.7,2112,695.5,2111.5,695.4L2111.5,695.4z M2154.2,807.8c3.6-0.3-0.6,3-12.9,9.2c-18.9,9.5-43.9,19.8-43.9,18.1
                c0-2.4,25.1-15.9,42-22.5C2147.1,809.5,2152,808,2154.2,807.8z M2194.5,814.7c4.5-0.4,8.3,3.5,8.3,9.9c0,5.6-12.4,19.9-17.3,19.9
                c-3.6,0-61.1,27.7-88.2,42.5c-16.1,8.8-42.5,19.4-58.6,23.6c-34.9,9.1-121,14.6-121,7.7c0-2.7,6.9-4.4,17.1-4.4
                c37.2,0,91.8-20.5,189.8-71.3c18.3-9.5,39.3-18.3,46.9-19.8c7.5-1.4,15.8-4.2,18.4-6.3C2191.5,815.5,2193,814.9,2194.5,814.7
                L2194.5,814.7z M423.7,829.4c1.1,0,3.2,0.6,6.5,1.6c9.6,2.9,30,13.4,83.9,42.9c40.2,22.1,71.7,32.7,123,41.8v0l29.3,5.2l-23.4,0
                c-25.3,0-52-4.3-63.3-10c-3.9-2-15-4.7-24.8-6.1c-27.5-3.9-112-50-129.1-70.4C422.8,830.8,421.9,829.3,423.7,829.4L423.7,829.4z
                 M545.7,865c3.8,0.4,17.5,4.6,33.1,10.2c17.9,6.4,36.1,11.7,40.5,11.8c4.4,0,10.7,1.7,13.9,3.8c5.2,3.3,5.2,3.7,0,3.5
                c-16.8-0.6-92.3-25.5-88.5-29.3C544.8,865,545.2,865,545.7,865L545.7,865z M2013.3,875.9c2,0,1.7,1.1-1.8,3.4
                c-3.2,2.1-8.5,3.6-11.7,3.5c-3.9-0.1-3.2-1.3,2-3.5C2007.1,877,2011.3,875.9,2013.3,875.9L2013.3,875.9z M1986.6,884.9
                c0.9,0.2-2.8,1.7-10,4.1c-22.5,7.4-66.6,12-66.6,6.9c0-2.1,14.5-4.9,32.2-6.2s36.6-3.3,42-4.4
                C1985.5,884.9,1986.3,884.8,1986.6,884.9L1986.6,884.9z M1793.1,2278.1c5.1,5.1-62.3,29.5-122.1,44.3
                c-29.6,7.3-99.9,15.3-95.7,10.9c1.1-1.1,26.6-6.8,56.6-12.5c30.1-5.8,78.2-18.1,107.1-27.4
                C1767.9,2284.1,1792.2,2277.2,1793.1,2278.1L1793.1,2278.1z M914.8,2336.8c6.8,0.1,16.7,1,26.9,2.8c90.9,15.5,158,19,364.7,19.2
                c117.9,0.1,196.3,1.5,187.4,3.4c-20.4,4.3-358.9,6.4-415.4,2.6c-41.6-2.8-138.9-14.1-149.6-17.3c-2.6-0.8-9.9-2.6-16.3-4
                c-8.8-1.9-10.2-3.3-5.9-5.7C907.8,2337,910.7,2336.7,914.8,2336.8L914.8,2336.8z"/>
        </g>
        <g id="layer5">
                <path id="path876" class="st5" d="
                M1358.9,61.8c-93.5-0.3-216.6,3.3-247.8,8.8c-19.3,3.4-46.6,8-60.5,10.3c-14,2.3-33.3,8-42.9,12.6c-17.4,8.3-17.6,8.6-16.3,25.8
                c4.1,55,94.1,121.7,203.8,151.1c27.6,7.4,42.8,8.9,91.7,8.9s64-1.5,91.7-8.9c92.8-24.8,173.5-77.3,199-129.5c4.4-9,8-20.1,8-24.7
                c0-4.6,0.9-8.4,2.1-8.4c5.8,0,40.9,19.9,40.9,23.2c0,2.1,4.4,3.8,9.8,3.8c13.1,0,12.5,7.1-2.7,36.1c-16.2,30.7-74,87.6-110.8,109
                c-81,47.2-188.7,69.8-284,59.6c-110.2-11.7-200.5-51.8-262.4-116.5c-12.9-13.5-26.6-28.9-30.4-34.2l-6.9-9.6l4.5,9.6
                c6.6,14,29.5,42.2,48,59c52.7,48,126,81.7,211.3,97.2c49.5,9,149.1,5.3,199.1-7.4c69.3-17.6,120-41.9,165.8-79.5
                c24.9-20.5,65-69.8,77.1-94.6c6.8-14.1,8.4-15.1,22.8-14.4c13.1,0.6,109.8,31.1,185.3,58.4c22.7,8.2,28.6,7.9,19.3-1.1
                c-5.8-5.6-49.2-21.6-185.1-68.3c-43.1-14.8-83.9-31.2-91.2-36.7c-17.1-12.9-87.2-31-141.3-36.5
                C1437.7,62.9,1401.3,61.9,1358.9,61.8L1358.9,61.8z M937.9,128.9c-2.9-0.1-7.5,1.4-14.7,4.4c-14.6,6.1-14.9,6.5-6.5,10.3
                c4.8,2.2,9,5.8,9.3,8.2c0.3,2.3,1.3,0.3,2.2-4.4c1.4-6.9,3.1-7.9,8.6-5c5.5,2.9,6.8,2.2,6.3-3.8
                C942.7,132.1,941.7,129.1,937.9,128.9L937.9,128.9z M785.6,184.9c-5.1,0-75.7,26.9-78.7,30c-2.8,2.9,9.5-0.9,46.6-14.4
                C786.8,188.5,794.1,184.9,785.6,184.9z M698.4,217.5c-0.2,0-0.5,0.1-1,0.2c-4.2,1.3-15,3.3-24,4.5c-9,1.2-27.5,7.9-41.2,14.8
                c-65.5,33.3-64.8,32.8-74.2,50.4c-5.1,9.4-12.2,18.1-15.9,19.2c-11.7,3.7-48.5,48.9-62.9,77.3c-15,29.6-28.7,74.5-34,111.5
                c-9.9,68.8-32.8,164.1-55.9,232c-13.7,40.4-27,77.2-29.6,81.9c-2.5,4.7-4.1,15.6-3.4,24.3c1.2,15.5,1.5,15.8,26.6,25.1
                c14,5.1,56.1,24.7,93.7,43.4c68.4,34.1,92.9,43.9,125.2,50.2c21.7,4.2,45.9,4.9,61.7,1.8c21-4.1,13.4-9.2-13.9-9.2
                c-46.3,0-99.9-18.1-201.8-68c-49-24-57.1-30.3-66.9-51.7c-8.1-17.6-3.6-27.5,10.9-24l8.6,2.1l-8.9-8.5
                c-9.3-8.9-8.6-16.9,1.2-13.2c3.2,1.2,5.7,0.3,5.7-2.1c0-2.3-1.8-4.3-3.9-4.3c-6.9,0-4.2-16.7,7.4-44.8
                c6.2-15.1,15.2-42.9,19.9-61.7c4.7-18.9,11.1-40.2,14.1-47.3c3-7.1,8.2-29.7,11.6-50.2c11.9-71.5,37.9-139.9,74.4-196.4
                c8.8-13.5,13.2-25.1,13.3-34.7c0.1-12.2,10.3-31.8,16.6-31.8c3.3,0,22,55.9,32.1,96.3c5.6,22.2,10.9,41.2,11.9,42.1
                c4.2,4.1,1-15.5-8-49.5c-11.3-42.5-12.7-80.9-3.5-96.1c8-13.1,65.4-56.5,96.7-73.1C692.5,222,699.6,217.6,698.4,217.5
                L698.4,217.5z M1913.1,224c-1.4-0.1-2.9,0.2-4.3,0.7c-3.1,1.2-2.2,2.2,2.4,2.3c4.1,0.2,6.4-0.7,5.1-2
                C1915.6,224.4,1914.4,224,1913.1,224L1913.1,224z M1932,227.7c-2.4,0.3-1.3,2.6,4.8,7.3c5.4,4.1,13.3,8.2,17.6,9
                c18,3.6,18.5,1.7,2-7C1944.2,230.6,1935.2,227.4,1932,227.7L1932,227.7z M2013.1,273.7c-2.2,0.1-7.1,6.6-10.8,14.6
                c-5.5,11.9-6,17.2-2.6,29.5c4.8,17.1,0,57.4-12.4,105.5c-4.1,16-7.4,31-7.3,33.3c0.6,8.7,12.3-28.7,27.7-88.4
                c8.8-34,17.4-63.3,19.2-65.3c4.4-4.6,28.2,21.2,42.8,46.4c20.1,34.6,30.9,69.9,48.9,159.3c17.4,86.4,35.6,148.6,64.6,221.2
                c8.3,20.6,14,40.2,12.7,43.4c-1.3,3.2-0.3,5.9,2,5.9c2.4,0,4.3,2.7,4.3,5.9c0,3.3,2.8,10.1,6.2,15.3c3.4,5.1,6.5,17.3,6.8,27
                l0.6,17.7l-25.4,10c-14,5.5-27.1,11.7-29.3,13.9c-6.5,6.4,17.2-0.4,43.9-12.6c23.1-10.6,24.4-11.9,24.4-24.6
                c0-7.4-10.3-40-22.9-72.5c-42.1-108.7-58.3-159.1-65.1-202.4c-18.5-118.6-32.2-166-61.1-210.6
                C2064.4,321,2020.1,273.6,2013.1,273.7L2013.1,273.7z M761.1,1468.5c-25.3,20.5-31.6,23.8-45.8,24.1l-16.5,0.3l-1.2-16.2
                c-0.8-11.6,6.7-26.1,15.2-45.3c6.6-14.8,7.5-23.5,7.5-24.7c0-1.2-3.5-5.7-7.8-10c-6.2-6.1-7.8-12.9-7.8-32.5
                c0-13.7,1.9-29.6,4.1-35.5c5.5-14.4,2-25.9-9.8-32.1c-12.4-6.5-16.8-26.9-10.1-46c6.1-17.3,27.2-54.1,45.4-79.3
                c7.6-10.6,12.2-19.7,10.2-20.4c-2-0.7-15.2,10.1-29.2,24c-14,13.9-28.2,25.2-31.6,25.2c-14.6,0,4.3-69.5,22.1-120.4
                c10.2-29,6.2-34.8-10.9-15.9l-11,12.2v-10.2c0-5.6,4.7-20.4,10.3-32.9c11.1-24.5,10.6-29.5-2.2-22.8c-11.1,5.9,17.2-6.9,29.6-43
                c5.4-15.6,9.7-29,9.7-29.9c0-4.8-10.6-0.4-14.7,6.2c-2.7,4.2-6.6,7.7-8.7,7.7c-6.7,0-4.2-11.1,7.8-34.7
                c6.4-12.6,11.7-24.1,11.7-25.5c0-1.4-6.1-1.6-13.7-0.4c-12.9,2.1-13.7,1.6-13.7-8.8c0-6,21.9-35.6,26.1-49.1
                c8.7-27.5,9.8-40.2,3.7-43.9c-2.3-1.4-7.3,0.2-11,3.6c-3.8,3.4-8.7,6.2-10.9,6.2c-5.7,0-28.7-37.7-34-55.6
                c-2.5-8.3-6.9-15.9-9.9-16.9c-3.9-1.3-4.6,0.2-2.6,5.5c1.6,4,3.9,12.5,5.2,18.9c2.1,10.5,1.7,11.1-4.3,6.2
                c-3.6-3-13.8-19-22.6-35.7c-8.8-16.7-17.5-30.3-19.5-30.3l0,0c-5.9,0,7.5,27.3,29.4,59.8c26.3,39.1,34.7,55.2,32,62.1
                c-3.8,9.7-11.5,5.8-51.2-26c-39.1-31.3-71-53.5-76.9-53.5c-1.7,0-3.1,2.9-3.1,6.5c0,9.9,29.8,35.9,73.8,64.5
                c23,15,38.7,27.6,37.2,29.9c-1.7,2.7-11.3,3.2-27.5,1.5c-21.3-2.2-25.3-1.7-27.4,3.9c-3.5,9,5.1,13.3,26.9,13.4
                c10.2,0,25.5,2.8,34.1,6.3c12.7,5-2,22.5,1.1,33.9c2.1,7.7,4,17.5,4.2,21.8c0.2,4.2,1.3,16.4,2.5,27c1.2,10.6-7.7,47.5-6,79.4
                c3.2,60.5-6.9,102.4-0.3,131.9c2.1,9.5-7.6,59.2-2.9,89.9c11.8,77,12.8,210.7,1.9,248.6c-17,59-3.3,60-4.1,178.9
                c-0.8,109.6,7.6,109,8.3,182.5c-5.8,26.9,12.1,103.8,1.5,138.4c2.2,41.4,13.6,61.9,4.4,116.9c-3.1,41.5-2.7,88.6-12.1,118.7
                c-7.2,22.9-0.6,58,0.8,63.4c4.2,16.6,23,29.4,48.1,47.4c29.6,21.3,37.1,25.3,67.7,36.5c12.9,4.7,29.9,13.1,47.8,18.7
                c62.6,26.2,137.9,33.1,272.8,41.8v0c25.8,1.7,122.4,2.4,214.7,1.5c170.5-1.5,229.8-10.4,325.4-26.6c52.9-9,69.5-15.3,105.4-29
                c68-25.9,122.2-68.6,142-107.2l9.7-18.8l-12.4-37c-9.6-28.7,10.9-32.2,8-71.3c-4.6-60.6-0.7-180.7-14.2-296.2
                c-12.7-108.5,19.7-87.3,0.3-179.7c1.7-34.4,1.3-52.6-1.2-51.1c-7.7,4.7-13.9,44-13.7,86.5c0.2,35.1,2.2,23.4-2.1,21.8
                c15.9,31-2.2,101.6-1,134.9c18.8,54,11.9,46.7,8.8,71.7c-4.2,4.2-14.1-8.8-35.9-47.1c-20.8-36.6-38.4-59.3-42.8-55.1
                c-3.2,3.1,4.4,18.7,40,82.1c26.3,46.9,29.8,42.1,42.3,168.7c11.5,134.9-18.2,127.9-17,131.9c1.6,5.3-4.5,13.5-22.7,30.5
                c-25.9,24.3-24.6,26.1,3.2,4.1c16.4-13,24.7-16.1,24.7-9.2c0,6.9-24,30.8-43.3,43.2c-10.5,6.7-18.4,13-17.5,13.9
                c2.7,2.6,16.8-6.1,39.7-24.6c27.5-22.2,39.6-19.3,29.3,7c-4.3,11.1-45.4,52.2-58.8,58.9c-5.4,2.7-22.2,8.8-37.2,13.6
                c-15,4.8-28.9,9.5-45.9,17.9c-20.6,10.2-12.1,8.9-37.1,13.7c-20.6,4-29.1,7.7-48.4,12.3c-20.9,4.9-46.6,13.6-81.4,15.6
                c-32.2,1.8-79.7,5.3-105.4,7.8c-36.4,3.5-61,3.4-110.2-0.3c-36.7-2.8-83.5-3.8-111.3-2.4c-61.8,3.2-185.9-3.1-213.8-10.9
                c-24.7-6.9-66.8-18.2-106.3-23.8c-37-5.2,3.2,7.5-20.8-8.5c-17.9-11.9-18.9-13.4-11-15.5c4.8-1.3,7.7-4,6.4-6
                c-4-6.3-66.8-34-77.2-34c-11.9,0-29.7-7.6-29.7-12.6c0-2.1,4.7-2.5,10.7-1c16.9,4.2,17.6,4.2,19.2-0.1c0.8-2.2-5.5-8-14.1-12.8
                c-15.3-8.5-15.5-9-10.1-19.1c3-5.7,15.3-19.9,27.3-31.5c12-11.6,21.8-23.2,21.8-25.8c0-9.7-7.2-8.4-26.5,5
                c-31.4,21.7-33.5,13.6-3.7-14.6c16.7-15.9,26.3-28.1,26.3-33.4c0-12.3-12-10.6-25.6,3.6c-15,15.6-51.6,40.2-64.8,43.3
                c-21.8,5.3-52.1-2.5-52.3-48.7c-0.1-23.8,35.3-59.2,45.9-67.9c8.2-6.7,8.4-11.8,0.4-18.3c-3.4-2.8-8.6-9.8-11.7-15.7
                c-5.1-9.8-32.3-11.1-23.8-30.2c5.2-11.5-7.6-33.9-4-46c3.6-12.1,8.6-29.5,13.8-41.2c8.7-19.5,9-22,3.5-28
                c-5.5-6-25.3-18.6-19.6-46.1c3.5-16.7-0.1-37.9,5.1-50.8c5.2-12.9,5.1-62,5.1-65c0-8,4.5-47,10.8-53.9
                c13-14.4,8.1-24.2-14.4-28.9c-15.7-3.3-24.2-8.1-24.2-42.4c0-33.9-0.2-76,16.6-99.9c7-10,24.3-23.6,49.6-39.1 M1909.6,738.5
                l-12.6,24.1c-9.7,18.5-14.6,24.1-21.2,24.1c-7.1,0-9.1,2.9-11.4,16.4c-1.5,9-6.4,22.7-10.9,30.3l-8.1,13.9l8.6,22.1
                c10.3,26.5,10.6,32.6,2.1,38.7c-5.9,4.2-6,9.8-2,60.8c4.9,60.8,10.7,121.1,6.8,135.3c-1.6,5.9-4.4,8.2-8.3,6.7
                c-4.8-1.8-5.4,0.4-3.6,12.3c4,25.6,25.5,129.5,22.8,140c-1.4,5.7-5.3,10.2-8.8,10.2c-4.8,0-5.7,2.5-3.9,10.6
                c10.5,46.9,4.5,66.4-9.9,32.1c-4.5-10.8-9.8-19.6-11.6-19.6c-5.1,0-4,17.4,2.1,33.7c24.4,64.5,22.3,144.3,26.8,209.1
                c1.3,19.1,3.2,38.8,4.3,43.7c2.8,13.3,5.5-26.4,8.6-43.7c6.2-34.4-1.9-64.5,0.7-129.6c1.2-22.3,4-25.4,3.8-115.5
                c-0.1-63.8-12.4-95.4-7.9-137.1c10.3-94.4,9.8-138.3,9.8-172v-29.4c0.1-0.6,0.3-0.9,0.5-1.2l47.4-0.2c46.3-0.1,49-0.6,83-14.7
                c32.9-13.6,53.7-25.7,35.1-20.5c-55.8,15.6-67.9,17.3-107.3,14.7c-34.5-2.3-40.9-3.8-46.9-11.1c-8.8-10.7-6.3-24.3,8.3-45.7
                c6.1-9,11.1-17.5,11.1-18.9c0-1.4-5.7-2-12.7-1.4c-11.1,1.1-12.8,0-13.8-8.6c-0.9-7.3,1.4-11.2,8.8-15.1
                c12-6.3,12.6-10.3,2.1-13.6c-9.3-2.9-10.6-19.4-2.4-31c3-4.2,6.5-17.2,7.8-28.8L1909.6,738.5z M2145.2,875.5
                c-2.1,0-7.2,2.7-11.4,6v0c-7.1,5.7-7,5.7,2.2,1.4C2147.9,877.3,2150.1,875.5,2145.2,875.5L2145.2,875.5z"/>
        </g>
    </g>
</g>
</svg>
{/literal}