@import url('bootstrap-extended.css');
@import url('colors.css');
@import url('components-lite.css');

/* TABLES */
.table{
	background: #fff;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{
	top: 6px !important;
}

table.dataTable>tbody>tr.child ul.dtr-details>li:last-child .dtr-title{
	display: none;
}