<div class="thumb padding">
    <h3>Купить билет</h3>
    <aside>
        Празднование СамерСана будет самым крутым опен — эйром этого лета. Оно пройдёт в два дня, 23 и 24 июня, в Подмосковье. Как и всегда, будут разбиты палатки, песни под гитару у костра, шашлыки — всё, что вы так любите:3
    </aside>
    <a href="/event/3" class="button">Купить билет</a>
</div>