{literal}
<br>
<br>
<script type="text/javascript" src="//vk.com/js/api/openapi.js?150"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 4, height: "400", width: "335", color2: '222', color3: 'D2383B'}, 144614412);
</script>
<br><br>
<script type="text/javascript">
var tntds = {"p":"305086", "b":{"851752": "64"}}
</script>
<script type="text/javascript" src="http://iygac.com/0a57e4/7/629/b58c2b3b/d696.js"></script>
{/literal}
<br>